Here, we will find the missing or empty values.

In [2]:

# For all the datasets, data is verified, selected and cleaned below which covers 2.4,3.1 abd 3.2 steps

import findspark
findspark.init('/home/ubuntu/spark-2.3.2-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Verify the data quality').getOrCreate()

In [3]:
fte  = spark.read.csv("My datasets/fulltime_employment.csv",header=True,inferSchema=True) #full-time employment
gwg = spark.read.csv("My datasets/Gender wage gap.csv", header=True,inferSchema=True) #gender wage gap
gnif = spark.read.csv("My datasets/GNI_female.csv", header=True,inferSchema=True) #gross national income female
impexp= spark.read.csv("My datasets/Importexport_cost.csv", header=True,inferSchema=True) #import-export cost
gnim = spark.read.csv("My datasets/GNI_male.csv", header=True,inferSchema=True) #gross national income male
#grad= spark.read.csv("My datasets/Graduation_rate.csv", header=True,inferSchema=True) #graduation rates of men and women
inequality= spark.read.csv("My datasets/Gender_inequality.csv", header=True,inferSchema=True) #gender inequality measures
gdp = spark.read.csv("My datasets/Gross Domestic Product.csv", header=True,inferSchema=True) #gross domestic product
pte = spark.read.csv("My datasets/Parttime_employment.csv", header=True,inferSchema=True) #part-time employment
se = spark.read.csv("My datasets/Selfemployment.csv", header=True,inferSchema=True) #self-employment

In [4]:

## 2.4 Verify the data

fte.show()

#as seen there are lots of 'null' values

#lets count the number of data points

print("Total data points:", fte.count())

+--------------+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|       Country|  Sex|1995_fte|1996_fte|1997_fte|1998_fte|1999_fte|2000_fte|2001_fte|2002_fte|2003_fte|2004_fte|2005_fte|2006_fte|2007_fte|2008_fte|2009_fte|2010_fte|2011_fte|2012_fte|2013_fte|2014_fte|2015_fte|2016_fte|
+--------------+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|     Australia|  Men|    null|    null|    null|    null|    null|    null|    80.3|    80.2|    80.5|    80.8|    81.6|    81.4|    82.3|    82.3|    79.4|    80.0|    80.2|    79.8|    78.7|    77.7|    77.9|    77.2|
|     Australia|Women|    null|    null|    null|    null|    null|    null|    47.9|    48.0|    48.7|    49.0|    50.2|    51.0|    51.8|    52.4|    51.6|    51.3|    51.8|    51.8|    51.7|    51.1|    52.1|    52.3|
|       Austria|  Men|    80.6|    79.6|    79.7|    79.2|    79.9|    79.6|    78.4|    78.1|    77.9|    80.4|    80.4|    81.5|    82.4|    82.0|    80.0|    79.8|    80.0|    79.6|    78.4|    76.9|    76.5|    76.7|
|       Austria|Women|    52.9|    52.4|    52.6|    52.0|    52.1|    52.1|    51.9|    52.6|    52.7|    51.3|    51.8|    52.5|    53.3|    54.1|    53.7|    53.8|    54.0|    54.3|    54.1|    53.5|    53.5|    54.0|
|       Belgium|  Men|    67.9|    67.4|    68.1|    69.0|    68.6|    70.7|    70.1|    69.7|    68.4|    68.9|    69.2|    68.7|    69.7|    69.0|    67.5|    68.2|    67.9|    67.8|    67.9|    66.9|    66.4|    67.2|
|       Belgium|Women|    38.1|    37.9|    38.9|    39.9|    41.0|    42.0|    41.7|    42.6|    42.4|    42.6|    43.9|    43.7|    45.4|    45.8|    45.9|    46.4|    46.3|    46.5|    47.2|    48.0|    48.2|    48.2|
|         Chile|  Men|    null|    92.0|    90.5|    90.6|    85.9|    85.2|    84.4|    83.9|    83.9|    83.2|    80.7|    82.4|    82.6|    82.6|    79.2|    81.6|    83.2|    83.1|    82.9|    81.2|    81.0|    79.5|
|         Chile|Women|    null|    39.8|    40.4|    41.2|    40.0|    40.2|    39.5|    39.7|    40.7|    41.4|    41.5|    42.7|    43.7|    45.3|    44.7|    45.2|    47.6|    48.9|    49.6|    49.9|    49.8|    49.6|
|Czech Republic|  Men|    null|    null|    null|    null|    null|    null|    null|    80.8|    80.5|    null|    79.5|    79.9|    81.1|    81.7|    79.5|    78.6|    78.9|    79.1|    79.5|    80.6|    81.4|    82.7|
|Czech Republic|Women|    null|    null|    null|    null|    null|    null|    null|    56.4|    55.7|    null|    55.7|    56.0|    56.5|    56.8|    55.5|    54.9|    55.8|    56.5|    57.3|    58.3|    60.1|    61.8|
|       Denmark|  Men|    77.8|    77.0|    76.6|    76.6|    78.0|    78.3|    78.0|    77.1|    76.5|    76.4|    76.5|    77.4|    73.9|    73.8|    69.8|    67.8|    68.1|    67.1|    66.9|    67.4|    68.2|    67.7|
|       Denmark|Women|    54.1|    54.4|    56.2|    56.4|    58.5|    58.9|    59.5|    58.9|    57.6|    57.6|    58.2|    59.1|    58.2|    58.7|    57.1|    55.4|    54.9|    54.7|    54.8|    54.3|    54.6|    55.1|
|       Estonia|  Men|    null|    null|    null|    null|    null|    67.0|    67.4|    66.5|    68.1|    66.8|    67.7|    73.0|    75.1|    74.8|    64.3|    61.9|    68.1|    70.2|    71.5|    72.7|    75.3|    74.8|
|       Estonia|Women|    null|    null|    null|    null|    null|    55.8|    56.0|    56.0|    56.9|    57.9|    60.3|    62.5|    62.9|    63.5|    59.3|    56.8|    58.5|    60.5|    61.7|    62.7|    63.6|    63.5|
|       Finland|  Men|    null|    null|    null|    null|    null|    null|    71.5|    70.6|    70.1|    69.7|    71.0|    72.1|    71.7|    72.7|    67.7|    68.5|    69.5|    69.4|    67.4|    67.7|    67.4|    68.4|
|       Finland|Women|    null|    null|    null|    null|    null|    null|    58.4|    59.4|    58.7|    58.3|    59.9|    60.3|    60.3|    61.0|    59.7|    58.7|    59.3|    59.6|    58.9|    59.1|    59.1|    58.5|
|        France|  Men|    69.1|    68.8|    68.0|    68.1|    68.0|    68.2|    68.3|    66.8|    72.0|    71.5|    71.4|    71.2|    71.3|    71.7|    70.4|    70.1|    69.9|    69.6|    68.6|    67.8|    67.5|    68.0|
|        France|Women|    44.9|    44.9|    44.4|    44.9|    45.3|    46.1|    46.5|    46.6|    50.0|    49.8|    50.2|    50.5|    51.5|    52.3|    51.7|    51.8|    51.8|    51.9|    51.8|    52.1|    52.4|    52.8|
|       Germany|  Men|    75.3|    75.2|    74.3|    74.9|    74.9|    75.0|    74.4|    72.8|    70.5|    71.3|    71.7|    73.0|    74.7|    75.8|    75.6|    76.3|    77.5|    77.7|    77.2|    77.0|    76.6|    77.0|
|       Germany|Women|    45.7|    45.9|    45.2|    45.5|    46.0|    46.4|    46.3|    46.1|    45.3|    45.5|    45.1|    46.4|    47.6|    48.7|    49.7|    50.4|    51.5|    51.8|    52.3|    53.0|    53.2|    54.1|
+--------------+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
only showing top 20 rows

Total data points: 68

In [5]:
# using 'na' drop method to drop the missing values
dropped_fte = fte.na.drop()
dropped_fte.show()
print("Total data points:", dropped_fte.count())

+-------+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|Country|  Sex|1995_fte|1996_fte|1997_fte|1998_fte|1999_fte|2000_fte|2001_fte|2002_fte|2003_fte|2004_fte|2005_fte|2006_fte|2007_fte|2008_fte|2009_fte|2010_fte|2011_fte|2012_fte|2013_fte|2014_fte|2015_fte|2016_fte|
+-------+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|Austria|  Men|    80.6|    79.6|    79.7|    79.2|    79.9|    79.6|    78.4|    78.1|    77.9|    80.4|    80.4|    81.5|    82.4|    82.0|    80.0|    79.8|    80.0|    79.6|    78.4|    76.9|    76.5|    76.7|
|Austria|Women|    52.9|    52.4|    52.6|    52.0|    52.1|    52.1|    51.9|    52.6|    52.7|    51.3|    51.8|    52.5|    53.3|    54.1|    53.7|    53.8|    54.0|    54.3|    54.1|    53.5|    53.5|    54.0|
|Belgium|  Men|    67.9|    67.4|    68.1|    69.0|    68.6|    70.7|    70.1|    69.7|    68.4|    68.9|    69.2|    68.7|    69.7|    69.0|    67.5|    68.2|    67.9|    67.8|    67.9|    66.9|    66.4|    67.2|
|Belgium|Women|    38.1|    37.9|    38.9|    39.9|    41.0|    42.0|    41.7|    42.6|    42.4|    42.6|    43.9|    43.7|    45.4|    45.8|    45.9|    46.4|    46.3|    46.5|    47.2|    48.0|    48.2|    48.2|
|Denmark|  Men|    77.8|    77.0|    76.6|    76.6|    78.0|    78.3|    78.0|    77.1|    76.5|    76.4|    76.5|    77.4|    73.9|    73.8|    69.8|    67.8|    68.1|    67.1|    66.9|    67.4|    68.2|    67.7|
|Denmark|Women|    54.1|    54.4|    56.2|    56.4|    58.5|    58.9|    59.5|    58.9|    57.6|    57.6|    58.2|    59.1|    58.2|    58.7|    57.1|    55.4|    54.9|    54.7|    54.8|    54.3|    54.6|    55.1|
| France|  Men|    69.1|    68.8|    68.0|    68.1|    68.0|    68.2|    68.3|    66.8|    72.0|    71.5|    71.4|    71.2|    71.3|    71.7|    70.4|    70.1|    69.9|    69.6|    68.6|    67.8|    67.5|    68.0|
| France|Women|    44.9|    44.9|    44.4|    44.9|    45.3|    46.1|    46.5|    46.6|    50.0|    49.8|    50.2|    50.5|    51.5|    52.3|    51.7|    51.8|    51.8|    51.9|    51.8|    52.1|    52.4|    52.8|
|Germany|  Men|    75.3|    75.2|    74.3|    74.9|    74.9|    75.0|    74.4|    72.8|    70.5|    71.3|    71.7|    73.0|    74.7|    75.8|    75.6|    76.3|    77.5|    77.7|    77.2|    77.0|    76.6|    77.0|
|Germany|Women|    45.7|    45.9|    45.2|    45.5|    46.0|    46.4|    46.3|    46.1|    45.3|    45.5|    45.1|    46.4|    47.6|    48.7|    49.7|    50.4|    51.5|    51.8|    52.3|    53.0|    53.2|    54.1|
| Greece|  Men|    81.9|    82.3|    81.4|    80.6|    80.2|    80.3|    80.1|    80.8|    82.0|    81.9|    82.5|    82.7|    82.5|    82.6|    81.3|    77.8|    71.8|    66.1|    63.9|    63.8|    65.7|    67.8|
| Greece|Women|    38.4|    38.9|    39.2|    40.2|    40.8|    42.0|    42.0|    43.3|    44.7|    45.3|    45.9|    46.7|    46.8|    47.7|    48.0|    47.2|    44.3|    40.8|    38.9|    40.1|    41.7|    42.5|
|Hungary|  Men|    64.3|    64.4|    64.3|    63.6|    66.0|    66.6|    65.9|    65.7|    66.3|    65.4|    65.0|    65.8|    65.3|    64.0|    61.6|    60.6|    60.9|    62.0|    64.2|    68.6|    71.2|    73.7|
|Hungary|Women|    46.0|    45.7|    45.3|    47.1|    48.8|    49.4|    49.5|    49.5|    50.1|    49.8|    50.0|    50.3|    49.8|    49.4|    48.5|    48.9|    48.7|    49.9|    50.8|    54.4|    56.3|    58.7|
|Ireland|  Men|    75.3|    75.2|    75.0|    77.2|    78.7|    80.3|    80.2|    78.1|    77.2|    77.8|    78.5|    78.6|    78.4|    75.7|    65.8|    62.5|    61.3|    60.8|    63.2|    65.3|    68.3|    69.5|
|Ireland|Women|    35.5|    37.5|    38.1|    39.9|    42.1|    44.0|    44.3|    44.6|    44.4|    44.7|    46.1|    46.9|    47.7|    47.2|    44.4|    43.0|    42.4|    42.7|    43.8|    44.4|    45.4|    47.1|
| Israel|  Men|    88.2|    86.5|    84.8|    81.0|    80.0|    80.7|    79.1|    76.0|    75.5|    76.8|    77.8|    78.7|    80.9|    80.8|    77.1|    78.2|    78.8|    79.3|    79.1|    78.8|    79.4|    79.5|
| Israel|Women|    47.6|    48.4|    48.4|    47.4|    48.6|    50.0|    49.4|    48.4|    48.8|    49.5|    50.6|    51.4|    53.1|    54.0|    53.9|    55.2|    55.9|    57.1|    57.3|    58.5|    59.0|    59.7|
|  Italy|  Men|    69.2|    69.4|    69.1|    69.5|    69.8|    70.6|    71.1|    71.6|    72.2|    72.9|    72.6|    73.1|    73.3|    72.5|    70.3|    69.0|    68.2|    66.5|    64.6|    64.7|    65.6|    66.6|
|  Italy|Women|    31.8|    32.5|    32.5|    33.2|    33.9|    35.2|    36.5|    37.3|    37.8|    38.8|    38.6|    39.4|    39.4|    39.7|    38.8|    38.4|    38.5|    38.6|    38.0|    38.2|    38.7|    39.4|
+-------+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
only showing top 20 rows

Total data points: 42

In [6]:
# As seen above by dropping the null value rows, the data has decreased from 68 to 42. 
# Notice that the missing values only occur in the years before 2000, and we were anyways going to drop that columns as we need data from last 5-6 years

###   3.1 Select data
import pandas as pd

fte= pd.read_csv('My datasets/fulltime_employment.csv')

#sum() is used to know number of missing values
fte.loc[:,['Country','Sex','2011_fte','2012_fte','2013_fte','2014_fte','2015_fte','2016_fte']].isnull().sum()

Country     0
Sex         0
2011_fte    0
2012_fte    0
2013_fte    0
2014_fte    0
2015_fte    0
2016_fte    0
dtype: int64

In [6]:
fte.loc[:,['Country','Sex','2011_fte','2012_fte','2013_fte','2014_fte','2015_fte','2016_fte']].to_csv('fte0.csv')  #for using it later in merging

In [7]:
###  3.2 Data cleaning
#As seen above, there are no missing values left in this table

In [8]:
## 2.4 verify quality

gwg=pd.read_csv('My datasets/Gender wage gap.csv')
gwg.head()

# many NaN values are present

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,17.2,14.3,15.0,13.0,14.4,15.8,16.7,15.4,11.9,16.4,14.0,16.0,13.8,18.0,15.4,13.0,14.3
1,Austria,23.1,22.8,24.5,21.1,22.4,22.0,21.9,21.6,20.9,19.4,19.2,18.6,18.2,18.1,17.7,17.0,NaN
2,Belgium,13.6,13.2,11.6,15.2,11.8,11.5,10.3,9.9,8.9,7.5,7.0,5.8,6.4,5.9,3.3,4.7,NaN
3,Canada,23.9,24.3,24.0,22.5,22.7,21.3,21.1,20.8,20.5,20.1,19.0,19.2,19.5,19.3,19.2,18.6,18.2
4,Chile,6.1,NaN,NaN,1.7,NaN,NaN,5.6,NaN,NaN,9.1,NaN,16.0,NaN,10.7,NaN,21.1,NaN

In [9]:
gwg.loc[:,['Country','2011','2012','2013','2014','2015','2016']].isnull().sum()

Country     0
2011       17
2012       17
2013       19
2014        9
2015       20
2016       30
dtype: int64

In [10]:
gwg.shape #outputs the number of rows and columns

(46, 18)

In [11]:
## 3.1 Select the data

gwg.loc[:,['Country','2011','2012','2013','2014','2015','2016']].dropna(how='any').shape

#by dropping rows with  missing values -> reduces the data tremendously

(16, 7)

In [5]:
## Therefore Using mean in pyspark to fill the missing values

from pyspark.sql.functions import mean
gwg = spark.read.csv("My datasets/Gender wage gap.csv", header=True,inferSchema=True) #gender wage gap

#mean_balance = df.select(mean('2011')).show()
mean_gwg = gwg.select(mean('2011')).show()
mean_gwg = gwg.select(mean('2012')).show()
mean_gwg = gwg.select(mean('2013')).show()
mean_gwg = gwg.select(mean('2014')).show()
mean_gwg = gwg.select(mean('2015')).show()
mean_gwg = gwg.select(mean('2016')).show()


mean_gwg = gwg.select(mean('2011')).collect()
mean_gwg = gwg.select(mean('2012')).collect()
mean_gwg = gwg.select(mean('2013')).collect()
mean_gwg = gwg.select(mean('2014')).collect()
mean_gwg = gwg.select(mean('2015')).collect()
mean_gwg = gwg.select(mean('2016')).collect()
#print(mean_gwg)

+------------------+
|         avg(2011)|
+------------------+
|14.027586206896551|
+------------------+

+-----------------+
|        avg(2012)|
+-----------------+
|14.01379310344828|
+-----------------+

+-----------------+
|        avg(2013)|
+-----------------+
|14.34074074074074|
+-----------------+

+------------------+
|         avg(2014)|
+------------------+
|13.854054054054055|
+------------------+

+------------------+
|         avg(2015)|
+------------------+
|14.692307692307692|
+------------------+

+------------------+
|         avg(2016)|
+------------------+
|14.081250000000002|
+------------------+

In [13]:
# 3.2 Clean the data

filled_gwg = gwg.na.fill(mean_gwg, subset=['2011','2012','2013','2014','2015','2016'])
filled_gwg.show()

#filled_gwg.to_csv('gwg1.csv')
#No missing data left

+--------------+----+----+----+----+----+----+----+----+----+----+----+------------------+------------------+------------------+------------------+------------------+------------------+
|       Country|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|              2011|              2012|              2013|              2014|              2015|              2016|
+--------------+----+----+----+----+----+----+----+----+----+----+----+------------------+------------------+------------------+------------------+------------------+------------------+
|     Australia|17.2|14.3|15.0|13.0|14.4|15.8|16.7|15.4|11.9|16.4|14.0|              16.0|              13.8|              18.0|              15.4|              13.0|              14.3|
|       Austria|23.1|22.8|24.5|21.1|22.4|22.0|21.9|21.6|20.9|19.4|19.2|              18.6|              18.2|              18.1|              17.7|              17.0|14.081250000000002|
|       Belgium|13.6|13.2|11.6|15.2|11.8|11.5|10.3| 9.9| 8.9| 7.5| 7.0|               5.8|               6.4|               5.9|               3.3|               4.7|14.081250000000002|
|        Canada|23.9|24.3|24.0|22.5|22.7|21.3|21.1|20.8|20.5|20.1|19.0|              19.2|              19.5|              19.3|              19.2|              18.6|              18.2|
|         Chile| 6.1|null|null| 1.7|null|null| 5.6|null|null| 9.1|null|              16.0|14.081250000000002|              10.7|14.081250000000002|              21.1|14.081250000000002|
|Czech Republic|19.1|16.9|16.0|15.6|16.1|15.9|15.4|16.9|17.9|15.1|15.8|              16.3|              15.3|              15.4|              16.3|              16.5|              16.3|
|       Denmark|null|null|10.8| 9.9|10.2|10.2|10.2| 9.9|10.2|10.2| 8.9|               7.9|               7.0|               6.8|               6.3|               5.8|14.081250000000002|
|       Estonia|null|null|25.0|null|null|null|29.7|null|null|null|27.8|14.081250000000002|14.081250000000002|14.081250000000002|              28.3|14.081250000000002|14.081250000000002|
|       Finland|20.4|21.2|20.4|20.1|20.0|18.9|19.4|21.4|21.2|19.7|18.9|              18.6|              18.7|              20.2|              19.6|              18.1|14.081250000000002|
|        France|null|null|13.3|null|null|null| 9.4|null|null|null| 9.1|14.081250000000002|14.081250000000002|14.081250000000002|               9.9|14.081250000000002|14.081250000000002|
|       Germany|19.6|19.1|19.1|19.6|21.9|16.3|18.1|16.7|16.7|16.5|16.7|              16.9|              15.6|              14.1|              17.4|              15.8|              15.5|
|        Greece|null|null|null|null|13.9|16.7|11.9|11.6| 9.5| 9.6|12.2|              10.7|               6.9|              11.3|               9.1|               6.3|               4.5|
|       Hungary|14.1|13.7| 9.1| 1.5| 3.0| 4.0| 0.4| 3.6| 2.2| 3.9| 6.4|               6.9|              11.3|               8.7|               3.8|               9.5|               9.4|
|       Iceland|null|null|null|null|19.2|13.2|12.4|15.9|13.3|16.0|14.3|              14.1|14.081250000000002|              14.5|              13.6|               9.9|14.081250000000002|
|       Ireland|19.7|null|null|19.7|18.2|13.8|14.4|18.0|15.0|14.9|12.8|              10.4|               8.5|              12.8|              15.2|              14.4|14.081250000000002|
|        Israel|null|28.1|24.8|25.2|25.2|22.9|22.1|21.3|20.4|20.1|20.1|              20.9|              19.5|              18.2|              18.9|              19.3|14.081250000000002|
|         Italy| 8.5|null|10.3|null| 6.7|null| 7.7|null|11.8|null| 9.9|14.081250000000002|              11.1|14.081250000000002|               5.6|14.081250000000002|14.081250000000002|
|         Japan|33.9|33.9|32.5|32.0|31.1|32.8|33.0|31.7|30.7|28.3|28.7|              27.4|              26.5|              26.6|              25.9|              25.7|14.081250000000002|
|         Korea|41.7|40.4|41.0|40.1|39.6|39.6|39.8|38.2|39.0|38.6|39.6|              36.6|              36.3|              36.6|              36.7|              37.2|              36.7|
|        Latvia|null|null|18.9|null|null|null|11.0|null|null|null|19.1|14.081250000000002|14.081250000000002|14.081250000000002|              21.1|14.081250000000002|14.081250000000002|
+--------------+----+----+----+----+----+----+----+----+----+----+----+------------------+------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [14]:

filled_gwg.select('Country','2011','2012','2013','2014','2015','2016').show()

+--------------+------------------+------------------+------------------+------------------+------------------+------------------+
|       Country|              2011|              2012|              2013|              2014|              2015|              2016|
+--------------+------------------+------------------+------------------+------------------+------------------+------------------+
|     Australia|              16.0|              13.8|              18.0|              15.4|              13.0|              14.3|
|       Austria|              18.6|              18.2|              18.1|              17.7|              17.0|14.081250000000002|
|       Belgium|               5.8|               6.4|               5.9|               3.3|               4.7|14.081250000000002|
|        Canada|              19.2|              19.5|              19.3|              19.2|              18.6|              18.2|
|         Chile|              16.0|14.081250000000002|              10.7|14.081250000000002|              21.1|14.081250000000002|
|Czech Republic|              16.3|              15.3|              15.4|              16.3|              16.5|              16.3|
|       Denmark|               7.9|               7.0|               6.8|               6.3|               5.8|14.081250000000002|
|       Estonia|14.081250000000002|14.081250000000002|14.081250000000002|              28.3|14.081250000000002|14.081250000000002|
|       Finland|              18.6|              18.7|              20.2|              19.6|              18.1|14.081250000000002|
|        France|14.081250000000002|14.081250000000002|14.081250000000002|               9.9|14.081250000000002|14.081250000000002|
|       Germany|              16.9|              15.6|              14.1|              17.4|              15.8|              15.5|
|        Greece|              10.7|               6.9|              11.3|               9.1|               6.3|               4.5|
|       Hungary|               6.9|              11.3|               8.7|               3.8|               9.5|               9.4|
|       Iceland|              14.1|14.081250000000002|              14.5|              13.6|               9.9|14.081250000000002|
|       Ireland|              10.4|               8.5|              12.8|              15.2|              14.4|14.081250000000002|
|        Israel|              20.9|              19.5|              18.2|              18.9|              19.3|14.081250000000002|
|         Italy|14.081250000000002|              11.1|14.081250000000002|               5.6|14.081250000000002|14.081250000000002|
|         Japan|              27.4|              26.5|              26.6|              25.9|              25.7|14.081250000000002|
|         Korea|              36.6|              36.3|              36.6|              36.7|              37.2|              36.7|
|        Latvia|14.081250000000002|14.081250000000002|14.081250000000002|              21.1|14.081250000000002|14.081250000000002|
+--------------+------------------+------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [16]:
filled_gwg.select('Country','2011','2012','2013','2014','2015','2016').write.csv('gwg0.csv')

In [15]:
# 2.4 Verify Data Quality

import pandas as pd

gdp= pd.read_csv('My datasets/Gross Domestic Product.csv')
pte= pd.read_csv('My datasets/Parttime_employment.csv')
se= pd.read_csv('My datasets/Selfemployment.csv')
impexp= pd.read_csv('My datasets/Importexport_cost.csv')

## ALL 4 of this datasets are complete so no need to clean it, can be seen in the following steps
# The flagcodes column is useless and is empty-> remove it


gdp.isnull().sum()

LOCATION         0
INDICATOR        0
SUBJECT          0
MEASURE          0
FREQUENCY        0
TIME             0
GDP Value        0
Flag Codes    3027
dtype: int64

In [16]:

pte.isnull().sum()

LOCATION         0
INDICATOR        0
SUBJECT          0
MEASURE          0
FREQUENCY        0
TIME             0
Value            0
Flag Codes    4005
dtype: int64

In [17]:
se.isnull().sum()

LOCATION         0
INDICATOR        0
SUBJECT          0
MEASURE          0
FREQUENCY        0
TIME             0
Value            0
Flag Codes    2911
dtype: int64

In [18]:
impexp.isnull().sum()

LOCATION        0
INDICATOR       0
SUBJECT         0
MEASURE         0
FREQUENCY       0
TIME            0
Cost            0
Flag Codes    510
dtype: int64

In [19]:
# 3.1 select the data

gdp.loc[:,['LOCATION','INDICATOR','SUBJECT','MEASURE','FREQUENCY','TIME','GDP Value']]

     LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME      GDP Value
0         AUS       GDP     TOT  MLN_USD         A  1960   25029.033600
1         AUS       GDP     TOT  MLN_USD         A  1961   25320.678700
2         AUS       GDP     TOT  MLN_USD         A  1962   27905.938200
3         AUS       GDP     TOT  MLN_USD         A  1963   30378.563200
4         AUS       GDP     TOT  MLN_USD         A  1964   32687.407900
5         AUS       GDP     TOT  MLN_USD         A  1965   34481.425800
6         AUS       GDP     TOT  MLN_USD         A  1966   38275.436800
7         AUS       GDP     TOT  MLN_USD         A  1967   40994.175000
8         AUS       GDP     TOT  MLN_USD         A  1968   46477.063900
9         AUS       GDP     TOT  MLN_USD         A  1969   52119.205000
10        AUS       GDP     TOT  MLN_USD         A  1970   58886.107400
11        AUS       GDP     TOT  MLN_USD         A  1971   64171.639900
12        AUS       GDP     TOT  MLN_USD         A  1972   69847.905100
13        AUS       GDP     TOT  MLN_USD         A  1973   78860.444600
14        AUS       GDP     TOT  MLN_USD         A  1974   86331.936900
15        AUS       GDP     TOT  MLN_USD         A  1975   96861.137400
16        AUS       GDP     TOT  MLN_USD         A  1976  104279.979000
17        AUS       GDP     TOT  MLN_USD         A  1977  110259.151300
18        AUS       GDP     TOT  MLN_USD         A  1978  123303.491700
19        AUS       GDP     TOT  MLN_USD         A  1979  137883.756000
20        AUS       GDP     TOT  MLN_USD         A  1980  154905.080700
21        AUS       GDP     TOT  MLN_USD         A  1981  177937.634600
22        AUS       GDP     TOT  MLN_USD         A  1982  181619.460100
23        AUS       GDP     TOT  MLN_USD         A  1983  196245.912000
24        AUS       GDP     TOT  MLN_USD         A  1984  211218.254400
25        AUS       GDP     TOT  MLN_USD         A  1985  228899.992400
26        AUS       GDP     TOT  MLN_USD         A  1986  239124.153200
27        AUS       GDP     TOT  MLN_USD         A  1987  261225.687200
28        AUS       GDP     TOT  MLN_USD         A  1988  282612.145500
29        AUS       GDP     TOT  MLN_USD         A  1989  299413.553700
...       ...       ...     ...      ...       ...   ...            ...
4144      MKD       GDP     TOT  USD_CAP         A  2005    7848.906616
4145      MKD       GDP     TOT  USD_CAP         A  2006    8682.365120
4146      MKD       GDP     TOT  USD_CAP         A  2007    9340.261849
4147      MKD       GDP     TOT  USD_CAP         A  2008   10521.863150
4148      MKD       GDP     TOT  USD_CAP         A  2009   11010.292130
4149      MKD       GDP     TOT  USD_CAP         A  2010   11371.158310
4150      MKD       GDP     TOT  USD_CAP         A  2011   11689.959240
4151      MKD       GDP     TOT  USD_CAP         A  2012   11915.710920
4152      MKD       GDP     TOT  USD_CAP         A  2013   12727.410500
4153      MKD       GDP     TOT  USD_CAP         A  2014   13434.809610
4154      ZMB       GDP     TOT  MLN_USD         A  2006   29635.203100
4155      ZMB       GDP     TOT  MLN_USD         A  2007   32960.164000
4156      ZMB       GDP     TOT  MLN_USD         A  2008   36225.000000
4157      ZMB       GDP     TOT  MLN_USD         A  2009   39849.716600
4158      ZMB       GDP     TOT  MLN_USD         A  2010   44492.402700
4159      ZMB       GDP     TOT  MLN_USD         A  2011   47953.111900
4160      ZMB       GDP     TOT  MLN_USD         A  2012   52572.487000
4161      ZMB       GDP     TOT  MLN_USD         A  2013   56089.881400
4162      ZMB       GDP     TOT  MLN_USD         A  2014   59768.336300
4163      ZMB       GDP     TOT  MLN_USD         A  2015   62184.164100
4164      ZMB       GDP     TOT  USD_CAP         A  2006    2393.130563
4165      ZMB       GDP     TOT  USD_CAP         A  2007    2589.991464
4166      ZMB       GDP     TOT  USD_CAP         A  2008    2768.962578
4167      ZMB       GDP     TOT  USD_CAP         A  2009    2961.391330
4168      ZMB       GDP     TOT  USD_CAP         A  2010    3212.440198
4169      ZMB       GDP     TOT  USD_CAP         A  2011    3361.649639
4170      ZMB       GDP     TOT  USD_CAP         A  2012    3576.374986
4171      ZMB       GDP     TOT  USD_CAP         A  2013    3701.518120
4172      ZMB       GDP     TOT  USD_CAP         A  2014    3826.159388
4173      ZMB       GDP     TOT  USD_CAP         A  2015    3862.229627

[4174 rows x 7 columns]

In [22]:
gdp.loc[:,['LOCATION','INDICATOR','SUBJECT','MEASURE','FREQUENCY','TIME','GDP Value']].to_csv('gdp1.csv')

In [20]:
pte.loc[:,['LOCATION','INDICATOR','SUBJECT','MEASURE','FREQUENCY','TIME','Value']]

     LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value
0         AUS   PARTEMP     TOT  PC_EMP         A  2001  23.758825
1         AUS   PARTEMP     TOT  PC_EMP         A  2002  24.027805
2         AUS   PARTEMP     TOT  PC_EMP         A  2003  24.320900
3         AUS   PARTEMP     TOT  PC_EMP         A  2004  23.768772
4         AUS   PARTEMP     TOT  PC_EMP         A  2005  23.995148
5         AUS   PARTEMP     TOT  PC_EMP         A  2006  23.930335
6         AUS   PARTEMP     TOT  PC_EMP         A  2007  23.732290
7         AUS   PARTEMP     TOT  PC_EMP         A  2008  23.759552
8         AUS   PARTEMP     TOT  PC_EMP         A  2009  24.598635
9         AUS   PARTEMP     TOT  PC_EMP         A  2010  24.845308
10        AUS   PARTEMP     TOT  PC_EMP         A  2011  24.657990
11        AUS   PARTEMP     TOT  PC_EMP         A  2012  24.564309
12        AUS   PARTEMP     TOT  PC_EMP         A  2013  24.884204
13        AUS   PARTEMP     TOT  PC_EMP         A  2014  25.208481
14        AUS   PARTEMP     TOT  PC_EMP         A  2015  25.241374
15        AUS   PARTEMP     TOT  PC_EMP         A  2016  25.895785
16        AUS   PARTEMP     TOT  PC_EMP         A  2017  25.730436
17        AUT   PARTEMP     TOT  PC_EMP         A  1995  11.098497
18        AUT   PARTEMP     TOT  PC_EMP         A  1996  10.901318
19        AUT   PARTEMP     TOT  PC_EMP         A  1997  10.772084
20        AUT   PARTEMP     TOT  PC_EMP         A  1998  11.495229
21        AUT   PARTEMP     TOT  PC_EMP         A  1999  12.288899
22        AUT   PARTEMP     TOT  PC_EMP         A  2000  11.745690
23        AUT   PARTEMP     TOT  PC_EMP         A  2001  12.680960
24        AUT   PARTEMP     TOT  PC_EMP         A  2002  13.304822
25        AUT   PARTEMP     TOT  PC_EMP         A  2003  13.683177
26        AUT   PARTEMP     TOT  PC_EMP         A  2004  15.334907
27        AUT   PARTEMP     TOT  PC_EMP         A  2005  16.430988
28        AUT   PARTEMP     TOT  PC_EMP         A  2006  16.958846
29        AUT   PARTEMP     TOT  PC_EMP         A  2007  17.345353
...       ...       ...     ...     ...       ...   ...        ...
3975      NAM   PARTEMP   WOMEN  PC_EMP         A  1988  21.555588
3976      NAM   PARTEMP   WOMEN  PC_EMP         A  1989  21.369464
3977      NAM   PARTEMP   WOMEN  PC_EMP         A  1990  20.909124
3978      NAM   PARTEMP   WOMEN  PC_EMP         A  1991  21.496570
3979      NAM   PARTEMP   WOMEN  PC_EMP         A  1992  21.314913
3980      NAM   PARTEMP   WOMEN  PC_EMP         A  1993  21.358879
3981      NAM   PARTEMP   WOMEN  PC_EMP         A  1994  21.224176
3982      NAM   PARTEMP   WOMEN  PC_EMP         A  1995  22.645233
3983      NAM   PARTEMP   WOMEN  PC_EMP         A  1996  22.176038
3984      NAM   PARTEMP   WOMEN  PC_EMP         A  1997  21.894608
3985      NAM   PARTEMP   WOMEN  PC_EMP         A  1998  21.434262
3986      NAM   PARTEMP   WOMEN  PC_EMP         A  1999  20.956990
3987      NAM   PARTEMP   WOMEN  PC_EMP         A  2000  20.076431
3988      NAM   PARTEMP   WOMEN  PC_EMP         A  2001  20.041760
3989      NAM   PARTEMP   WOMEN  PC_EMP         A  2002  20.572059
3990      NAM   PARTEMP   WOMEN  PC_EMP         A  2003  20.844696
3991      NAM   PARTEMP   WOMEN  PC_EMP         A  2004  21.168115
3992      NAM   PARTEMP   WOMEN  PC_EMP         A  2005  20.703505
3993      NAM   PARTEMP   WOMEN  PC_EMP         A  2006  20.454785
3994      NAM   PARTEMP   WOMEN  PC_EMP         A  2007  20.669625
3995      NAM   PARTEMP   WOMEN  PC_EMP         A  2008  20.542808
3996      NAM   PARTEMP   WOMEN  PC_EMP         A  2009  21.704875
3997      NAM   PARTEMP   WOMEN  PC_EMP         A  2010  21.325466
3998      NAM   PARTEMP   WOMEN  PC_EMP         A  2011  21.132676
3999      NAM   PARTEMP   WOMEN  PC_EMP         A  2012  21.320171
4000      NAM   PARTEMP   WOMEN  PC_EMP         A  2013  20.748752
4001      NAM   PARTEMP   WOMEN  PC_EMP         A  2014  20.813848
4002      NAM   PARTEMP   WOMEN  PC_EMP         A  2015  20.425272
4003      NAM   PARTEMP   WOMEN  PC_EMP         A  2016  20.433973
4004      NAM   PARTEMP   WOMEN  PC_EMP         A  2017  19.960281

[4005 rows x 7 columns]

In [21]:
pte.loc[:,['LOCATION','INDICATOR','SUBJECT','MEASURE','FREQUENCY','TIME','Value']].to_csv('pte1.csv')

In [22]:
se.loc[:,['LOCATION','INDICATOR','SUBJECT','MEASURE','FREQUENCY','TIME','Value']]

     LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value
0         AUS   SELFEMP     MEN  PC_EMP         A  1965  17.839530
1         AUS   SELFEMP     MEN  PC_EMP         A  1966  17.130110
2         AUS   SELFEMP     MEN  PC_EMP         A  1967  16.439560
3         AUS   SELFEMP     MEN  PC_EMP         A  1968  16.033390
4         AUS   SELFEMP     MEN  PC_EMP         A  1969  15.417140
5         AUS   SELFEMP     MEN  PC_EMP         A  1970  15.479620
6         AUS   SELFEMP     MEN  PC_EMP         A  1971  15.401210
7         AUS   SELFEMP     MEN  PC_EMP         A  1972  15.511510
8         AUS   SELFEMP     MEN  PC_EMP         A  1973  15.527380
9         AUS   SELFEMP     MEN  PC_EMP         A  1974  15.948300
10        AUS   SELFEMP     MEN  PC_EMP         A  1975  15.974940
11        AUS   SELFEMP     MEN  PC_EMP         A  1976  17.007510
12        AUS   SELFEMP     MEN  PC_EMP         A  1977  17.659190
13        AUS   SELFEMP     MEN  PC_EMP         A  1978  17.129170
14        AUS   SELFEMP     MEN  PC_EMP         A  1979  17.696700
15        AUS   SELFEMP     MEN  PC_EMP         A  1980  17.790010
16        AUS   SELFEMP     MEN  PC_EMP         A  1981  17.240040
17        AUS   SELFEMP     MEN  PC_EMP         A  1982  17.338050
18        AUS   SELFEMP     MEN  PC_EMP         A  1983  17.368290
19        AUS   SELFEMP     MEN  PC_EMP         A  1984  17.653010
20        AUS   SELFEMP     MEN  PC_EMP         A  1985  16.895620
21        AUS   SELFEMP     MEN  PC_EMP         A  1986  16.993510
22        AUS   SELFEMP     MEN  PC_EMP         A  1987  16.833040
23        AUS   SELFEMP     MEN  PC_EMP         A  1988  16.899200
24        AUS   SELFEMP     MEN  PC_EMP         A  1989  16.439360
25        AUS   SELFEMP     MEN  PC_EMP         A  1990  16.447720
26        AUS   SELFEMP     MEN  PC_EMP         A  1991  17.053840
27        AUS   SELFEMP     MEN  PC_EMP         A  1992  17.292720
28        AUS   SELFEMP     MEN  PC_EMP         A  1993  17.704640
29        AUS   SELFEMP     MEN  PC_EMP         A  1994  17.123090
...       ...       ...     ...     ...       ...   ...        ...
3328      LTU   SELFEMP     MEN  PC_EMP         A  2011  12.557970
3329      LTU   SELFEMP     MEN  PC_EMP         A  2012  13.302030
3330      LTU   SELFEMP     MEN  PC_EMP         A  2014  14.035160
3331      LTU   SELFEMP     MEN  PC_EMP         A  2015  14.604590
3332      LTU   SELFEMP     TOT  PC_EMP         A  2005  17.159890
3333      LTU   SELFEMP     TOT  PC_EMP         A  2006  16.991500
3334      LTU   SELFEMP     TOT  PC_EMP         A  2007  14.566940
3335      LTU   SELFEMP     TOT  PC_EMP         A  2008  11.679280
3336      LTU   SELFEMP     TOT  PC_EMP         A  2009  11.978140
3337      LTU   SELFEMP     TOT  PC_EMP         A  2010  10.874440
3338      LTU   SELFEMP     TOT  PC_EMP         A  2011  10.589290
3339      LTU   SELFEMP     TOT  PC_EMP         A  2012  11.052540
3340      LTU   SELFEMP     TOT  PC_EMP         A  2013  11.773120
3341      LTU   SELFEMP     TOT  PC_EMP         A  2014  12.101740
3342      LTU   SELFEMP     TOT  PC_EMP         A  2015  12.270350
3343      LTU   SELFEMP     TOT  PC_EMP         A  2016  12.334730
3344      LTU   SELFEMP     TOT  PC_EMP         A  2017  12.009150
3345      LTU   SELFEMP   WOMEN  PC_EMP         A  2005  14.806650
3346      LTU   SELFEMP   WOMEN  PC_EMP         A  2006  14.891370
3347      LTU   SELFEMP   WOMEN  PC_EMP         A  2007  11.680410
3348      LTU   SELFEMP   WOMEN  PC_EMP         A  2008   8.926298
3349      LTU   SELFEMP   WOMEN  PC_EMP         A  2009   9.349195
3350      LTU   SELFEMP   WOMEN  PC_EMP         A  2010   8.803044
3351      LTU   SELFEMP   WOMEN  PC_EMP         A  2011   8.752693
3352      LTU   SELFEMP   WOMEN  PC_EMP         A  2012   8.941730
3353      LTU   SELFEMP   WOMEN  PC_EMP         A  2013   9.661946
3354      LTU   SELFEMP   WOMEN  PC_EMP         A  2014  10.243340
3355      LTU   SELFEMP   WOMEN  PC_EMP         A  2015  10.027910
3356      LTU   SELFEMP   WOMEN  PC_EMP         A  2016   9.536424
3357      LTU   SELFEMP   WOMEN  PC_EMP         A  2017   9.383657

[3358 rows x 7 columns]

In [23]:
se.loc[:,['LOCATION','INDICATOR','SUBJECT','MEASURE','FREQUENCY','TIME','Value']].to_csv('se1.csv')

In [24]:

impexp.loc[:,['LOCATION','INDICATOR','SUBJECT','MEASURE','FREQUENCY','TIME','Cost']]

    LOCATION  INDICATOR SUBJECT  MEASURE FREQUENCY  TIME        Cost
0        AUS  TRADEGOOD     EXP  MLN_USD         A  2013    254201.7
1        AUS  TRADEGOOD     EXP  MLN_USD         A  2014    240425.8
2        AUS  TRADEGOOD     EXP  MLN_USD         A  2015    188096.6
3        AUS  TRADEGOOD     EXP  MLN_USD         A  2016    192569.5
4        AUS  TRADEGOOD     EXP  MLN_USD         A  2017    231442.9
5        AUT  TRADEGOOD     EXP  MLN_USD         A  2013    164204.7
6        AUT  TRADEGOOD     EXP  MLN_USD         A  2014    167318.3
7        AUT  TRADEGOOD     EXP  MLN_USD         A  2015    142823.0
8        AUT  TRADEGOOD     EXP  MLN_USD         A  2016    142571.8
9        AUT  TRADEGOOD     EXP  MLN_USD         A  2017    156436.6
10       AUT  TRADEGOOD     IMP  MLN_USD         A  2013    165526.9
11       AUT  TRADEGOOD     IMP  MLN_USD         A  2014    166206.5
12       AUT  TRADEGOOD     IMP  MLN_USD         A  2015    140503.4
13       AUT  TRADEGOOD     IMP  MLN_USD         A  2016    142235.6
14       AUT  TRADEGOOD     IMP  MLN_USD         A  2017    157799.4
15       BEL  TRADEGOOD     EXP  MLN_USD         A  2013    312609.5
16       BEL  TRADEGOOD     EXP  MLN_USD         A  2014    310312.5
17       BEL  TRADEGOOD     EXP  MLN_USD         A  2015    253439.0
18       BEL  TRADEGOOD     EXP  MLN_USD         A  2016    274433.3
19       BEL  TRADEGOOD     EXP  MLN_USD         A  2017    300584.9
20       BEL  TRADEGOOD     IMP  MLN_USD         A  2013    321398.8
21       BEL  TRADEGOOD     IMP  MLN_USD         A  2014    317347.2
22       BEL  TRADEGOOD     IMP  MLN_USD         A  2015    251903.7
23       BEL  TRADEGOOD     IMP  MLN_USD         A  2016    273182.6
24       BEL  TRADEGOOD     IMP  MLN_USD         A  2017    300332.4
25       CAN  TRADEGOOD     EXP  MLN_USD         A  2013    465209.2
26       CAN  TRADEGOOD     EXP  MLN_USD         A  2014    479168.0
27       CAN  TRADEGOOD     EXP  MLN_USD         A  2015    410688.3
28       CAN  TRADEGOOD     EXP  MLN_USD         A  2016    393440.0
29       CAN  TRADEGOOD     EXP  MLN_USD         A  2017    423402.5
..       ...        ...     ...      ...       ...   ...         ...
480     EU28  TRADEGOOD     EXP  MLN_USD         A  2013   2235009.0
481     EU28  TRADEGOOD     EXP  MLN_USD         A  2014   2253855.0
482     EU28  TRADEGOOD     EXP  MLN_USD         A  2015   2054994.0
483     EU28  TRADEGOOD     EXP  MLN_USD         A  2016   2006761.0
484     EU28  TRADEGOOD     EXP  MLN_USD         A  2017   2195760.0
485     EU28  TRADEGOOD     IMP  MLN_USD         A  2013   2179404.0
486     EU28  TRADEGOOD     IMP  MLN_USD         A  2014   2187738.0
487     EU28  TRADEGOOD     IMP  MLN_USD         A  2015   1891770.0
488     EU28  TRADEGOOD     IMP  MLN_USD         A  2016   1821831.0
489     EU28  TRADEGOOD     IMP  MLN_USD         A  2017   2040908.0
490      G-7  TRADEGOOD     EXP  MLN_USD         A  2013   5742739.0
491      G-7  TRADEGOOD     EXP  MLN_USD         A  2014   5873906.0
492      G-7  TRADEGOOD     EXP  MLN_USD         A  2015   5262692.0
493      G-7  TRADEGOOD     EXP  MLN_USD         A  2016   5181209.0
494      G-7  TRADEGOOD     EXP  MLN_USD         A  2017   5582464.0
495      G-7  TRADEGOOD     IMP  MLN_USD         A  2013   6453460.0
496      G-7  TRADEGOOD     IMP  MLN_USD         A  2014   6609853.0
497      G-7  TRADEGOOD     IMP  MLN_USD         A  2015   5916100.0
498      G-7  TRADEGOOD     IMP  MLN_USD         A  2016   5758178.0
499      G-7  TRADEGOOD     IMP  MLN_USD         A  2017   6233540.0
500     G-20  TRADEGOOD     EXP  MLN_USD         A  2013  10366160.0
501     G-20  TRADEGOOD     EXP  MLN_USD         A  2014  10461170.0
502     G-20  TRADEGOOD     EXP  MLN_USD         A  2015   9299700.0
503     G-20  TRADEGOOD     EXP  MLN_USD         A  2016   8907941.0
504     G-20  TRADEGOOD     EXP  MLN_USD         A  2017   9874120.0
505     G-20  TRADEGOOD     IMP  MLN_USD         A  2013  10494770.0
506     G-20  TRADEGOOD     IMP  MLN_USD         A  2014  10550190.0
507     G-20  TRADEGOOD     IMP  MLN_USD         A  2015   9224670.0
508     G-20  TRADEGOOD     IMP  MLN_USD         A  2016   8789349.0
509     G-20  TRADEGOOD     IMP  MLN_USD         A  2017   9812673.0

[510 rows x 7 columns]

In [28]:
impexp.loc[:,['LOCATION','INDICATOR','SUBJECT','MEASURE','FREQUENCY','TIME','Cost']].to_csv('impexp1.csv')

In [25]:
#2.4 verify quality
#datasets gnim and gnif

gnim = spark.read.csv("My datasets/GNI_male.csv", header=True,inferSchema=True)
gnim.show()

gnif = spark.read.csv("My datasets/GNI_female.csv", header=True,inferSchema=True)
gnif.show()

+---------------+--------------------+--------+----+--------+----+--------+----+--------+----+--------+----+--------+----+--------+----+--------+
|HDI Rank (2015)|             Country|2000_gni| _c3|2005_gni| _c5|2010_gni| _c7|2011_gni| _c9|2012_gni|_c11|2013_gni|_c13|2014_gni|_c15|2015_gni|
+---------------+--------------------+--------+----+--------+----+--------+----+--------+----+--------+----+--------+----+--------+----+--------+
|            169|         Afghanistan|    1349|null|    2051|null|    2774|null|    2922|null|    3134|null|    3229|   a|    3191|null|    3148|
|             75|             Albania|    6777|null|    9094|null|   11731|null|   12193|null|   12373|null|   12691|   a|   12834|null|   13186|
|             83|             Algeria|   17239|null|   20588|null|   21985|null|   21996|null|   22225|null|   22179|   a|   22476|null|   22926|
|            150|              Angola|    4135|null|    4756|null|    7079|null|    7112|null|    7231|null|    7458|   a|    7550|null|    7527|
|             45|           Argentina|   20329|null|   20239|null|   25431|null|   28672|null|   27982|null|   28547|   a|   28972|null|   29363|
|             84|             Armenia|    4038|null|    7276|null|    8542|null|    8881|null|    9758|null|   10303|   a|   10865|null|   11260|
|              2|           Australia|   45151|null|   49034|null|   47883|null|   48125|null|   49539|null|   50135|   a|   50577|null|   51386|
|             24|             Austria|   53118|null|   56435|null|   58364|null|   59355|null|   59112|null|   58828|   a|   57874|null|   57882|
|             78|          Azerbaijan|    5521|null|    9805|null|   19989|null|   19753|null|   20411|null|   21987|   a|   21769|null|   21841|
|             58|             Bahamas|   30403|null|   30015|null|   25976|null|   25732|null|   25847|null|   25362|   a|   25264|null|   25209|
|             47|             Bahrain|   60862|null|   54222|null|   44067|null|   41059|null|   41998|null|   43739|   a|   43459|null|   44306|
|            139|          Bangladesh|    2268|null|    2721|null|    3425|null|    3588|null|    3789|null|    3949|   a|    4076|null|    4285|
|             54|            Barbados|   17601|null|   18062|null|   18325|null|   18324|null|   18296|null|   18302|   a|   18278|null|   18377|
|             52|             Belarus|    8790|null|   13263|null|   19073|null|   20375|null|   20383|null|   20518|   a|   20732|null|   19437|
|             22|             Belgium|   49334|null|   50113|null|   51932|null|   51175|null|   51484|null|   50255|   a|   50356|null|   50352|
|            103|              Belize|    9363|null|    9870|null|    9640|null|    9415|null|    9432|null|    9353|   a|    9417|null|    9401|
|            167|               Benin|    2022|null|    2031|null|    2032|null|    2032|null|    2065|null|    2145|   a|    2224|null|    2287|
|            132|              Bhutan|    4691|null|    5517|null|    7175|null|    7565|null|    7695|null|    7870|   a|    8147|null|    8308|
|            118| Bolivia (Plurina...|    5453|null|    5763|null|    6465|null|    6622|null|    6744|null|    7060|   a|    7431|null|    7609|
|             81| Bosnia and Herze...|    9664|null|   11152|null|   12421|null|   12441|null|   12354|null|   12748|   a|   12830|null|   13261|
+---------------+--------------------+--------+----+--------+----+--------+----+--------+----+--------+----+--------+----+--------+----+--------+
only showing top 20 rows

+---------------+--------------------+---------+----+---------+----+---------+----+---------+----+---------+----+---------+----+---------+----+---------+
|HDI Rank (2015)|             Country|2000_gnif| _c3|2005_gnif| _c5|2010_gnif| _c7|2011_gnif| _c9|2012_gnif|_c11|2013_gnif|_c13|2014_gnif|_c15|2015_gnif|
+---------------+--------------------+---------+----+---------+----+---------+----+---------+----+---------+----+---------+----+---------+----+---------+
|            169|         Afghanistan|      165|null|      264|null|      420|null|      450|null|      491|null|      515|null|      517|null|      511|
|             75|             Albania|     3714|null|     4928|null|     6795|null|     7003|null|     7058|null|     7181|null|     7209|null|     7365|
|             83|             Algeria|     2109|null|     2783|null|     3630|null|     3681|null|     3770|null|     3840|null|     3944|null|     4022|
|            150|              Angola|     2831|null|     3081|null|     4718|null|     4743|null|     4826|null|     5000|null|     5085|null|     5073|
|             45|           Argentina|     8991|null|     9935|null|    12734|null|    12413|null|    13023|null|    13343|null|    12705|null|    12880|
|             84|             Armenia|     1771|null|     3672|null|     5035|null|     5151|null|     5373|null|     5487|null|     5522|null|     5533|
|              2|           Australia|    26268|null|    29848|null|    31749|null|    32039|null|    32968|null|    33478|null|    33751|null|    34271|
|             24|             Austria|    23830|null|    25997|null|    29036|null|    29703|null|    29943|null|    30097|null|    29753|null|    29835|
|             78|          Azerbaijan|     3508|null|     4509|null|    10342|null|     9512|null|     9004|null|     9803|null|    11149|null|    11033|
|             58|             Bahamas|    20639|null|    20134|null|    18567|null|    18403|null|    18497|null|    18161|null|    18101|null|    18070|
|             47|             Bahrain|    21578|null|    27393|null|    25376|null|    23687|null|    24307|null|    25325|null|    25328|null|    25711|
|            139|          Bangladesh|     1064|null|     1326|null|     1861|null|     1962|null|     2080|null|     2176|null|     2264|null|     2379|
|             54|            Barbados|    10609|null|    10958|null|    11849|null|    11844|null|    11820|null|    11769|null|    11746|null|    11801|
|             52|             Belarus|     6031|null|     8830|null|    12151|null|    12973|null|    12975|null|    12652|null|    13145|null|    12323|
|             22|             Belgium|    26700|null|    29608|null|    32273|null|    31633|null|    31989|null|    32088|null|    32345|null|    32422|
|            103|              Belize|     3444|null|     4168|null|     4631|null|     5260|null|     5308|null|     5301|null|     5376|null|     5360|
|            167|               Benin|     1268|null|     1349|null|     1462|null|     1470|null|     1495|null|     1561|null|     1626|null|     1673|
|            132|              Bhutan|     2431|null|     3332|null|     4909|null|     5162|null|     5257|null|     5360|null|     5551|null|     5657|
|            118| Bolivia (Plurina...|     3128|null|     3328|null|     3885|null|     4027|null|     4116|null|     4343|null|     4588|null|     4696|
|             81| Bosnia and Herze...|     4606|null|     5264|null|     6570|null|     6579|null|     6505|null|     6683|null|     6725|null|     6950|
+---------------+--------------------+---------+----+---------+----+---------+----+---------+----+---------+----+---------+----+---------+----+---------+
only showing top 20 rows

In [26]:
from pyspark.sql.functions import isnan, when, count, col

#This shows that the 2 datasets has no missing values

gnif.select([count(when(isnan(c), c)).alias(c) for c in gnif.columns]).show()
gnim.select([count(when(isnan(c), c)).alias(c) for c in gnim.columns]).show()

+---------------+-------+---------+---+---------+---+---------+---+---------+---+---------+----+---------+----+---------+----+---------+
|HDI Rank (2015)|Country|2000_gnif|_c3|2005_gnif|_c5|2010_gnif|_c7|2011_gnif|_c9|2012_gnif|_c11|2013_gnif|_c13|2014_gnif|_c15|2015_gnif|
+---------------+-------+---------+---+---------+---+---------+---+---------+---+---------+----+---------+----+---------+----+---------+
|              0|      0|        0|  0|        0|  0|        0|  0|        0|  0|        0|   0|        0|   0|        0|   0|        0|
+---------------+-------+---------+---+---------+---+---------+---+---------+---+---------+----+---------+----+---------+----+---------+

+---------------+-------+--------+---+--------+---+--------+---+--------+---+--------+----+--------+----+--------+----+--------+
|HDI Rank (2015)|Country|2000_gni|_c3|2005_gni|_c5|2010_gni|_c7|2011_gni|_c9|2012_gni|_c11|2013_gni|_c13|2014_gni|_c15|2015_gni|
+---------------+-------+--------+---+--------+---+--------+---+--------+---+--------+----+--------+----+--------+----+--------+
|              0|      0|       0|  0|       0|  0|       0|  0|       0|  0|       0|   0|       0|   0|       0|   0|       0|
+---------------+-------+--------+---+--------+---+--------+---+--------+---+--------+----+--------+----+--------+----+--------+

In [28]:
## select data and clean
#Althogh the empty columns as seen above can be removed

clean_gnim=gnim.drop('_c3','_c5','_c7','_c9','_c11','_c13','_c15')
clean_gnim.show()

clean_gnif=gnif.drop('_c3','_c5','_c7','_c9','_c11','_c13','_c15')
clean_gnif.show()

+---------------+--------------------+--------+--------+--------+--------+--------+--------+--------+--------+
|HDI Rank (2015)|             Country|2000_gni|2005_gni|2010_gni|2011_gni|2012_gni|2013_gni|2014_gni|2015_gni|
+---------------+--------------------+--------+--------+--------+--------+--------+--------+--------+--------+
|            169|         Afghanistan|    1349|    2051|    2774|    2922|    3134|    3229|    3191|    3148|
|             75|             Albania|    6777|    9094|   11731|   12193|   12373|   12691|   12834|   13186|
|             83|             Algeria|   17239|   20588|   21985|   21996|   22225|   22179|   22476|   22926|
|            150|              Angola|    4135|    4756|    7079|    7112|    7231|    7458|    7550|    7527|
|             45|           Argentina|   20329|   20239|   25431|   28672|   27982|   28547|   28972|   29363|
|             84|             Armenia|    4038|    7276|    8542|    8881|    9758|   10303|   10865|   11260|
|              2|           Australia|   45151|   49034|   47883|   48125|   49539|   50135|   50577|   51386|
|             24|             Austria|   53118|   56435|   58364|   59355|   59112|   58828|   57874|   57882|
|             78|          Azerbaijan|    5521|    9805|   19989|   19753|   20411|   21987|   21769|   21841|
|             58|             Bahamas|   30403|   30015|   25976|   25732|   25847|   25362|   25264|   25209|
|             47|             Bahrain|   60862|   54222|   44067|   41059|   41998|   43739|   43459|   44306|
|            139|          Bangladesh|    2268|    2721|    3425|    3588|    3789|    3949|    4076|    4285|
|             54|            Barbados|   17601|   18062|   18325|   18324|   18296|   18302|   18278|   18377|
|             52|             Belarus|    8790|   13263|   19073|   20375|   20383|   20518|   20732|   19437|
|             22|             Belgium|   49334|   50113|   51932|   51175|   51484|   50255|   50356|   50352|
|            103|              Belize|    9363|    9870|    9640|    9415|    9432|    9353|    9417|    9401|
|            167|               Benin|    2022|    2031|    2032|    2032|    2065|    2145|    2224|    2287|
|            132|              Bhutan|    4691|    5517|    7175|    7565|    7695|    7870|    8147|    8308|
|            118| Bolivia (Plurina...|    5453|    5763|    6465|    6622|    6744|    7060|    7431|    7609|
|             81| Bosnia and Herze...|    9664|   11152|   12421|   12441|   12354|   12748|   12830|   13261|
+---------------+--------------------+--------+--------+--------+--------+--------+--------+--------+--------+
only showing top 20 rows

+---------------+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+
|HDI Rank (2015)|             Country|2000_gnif|2005_gnif|2010_gnif|2011_gnif|2012_gnif|2013_gnif|2014_gnif|2015_gnif|
+---------------+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+
|            169|         Afghanistan|      165|      264|      420|      450|      491|      515|      517|      511|
|             75|             Albania|     3714|     4928|     6795|     7003|     7058|     7181|     7209|     7365|
|             83|             Algeria|     2109|     2783|     3630|     3681|     3770|     3840|     3944|     4022|
|            150|              Angola|     2831|     3081|     4718|     4743|     4826|     5000|     5085|     5073|
|             45|           Argentina|     8991|     9935|    12734|    12413|    13023|    13343|    12705|    12880|
|             84|             Armenia|     1771|     3672|     5035|     5151|     5373|     5487|     5522|     5533|
|              2|           Australia|    26268|    29848|    31749|    32039|    32968|    33478|    33751|    34271|
|             24|             Austria|    23830|    25997|    29036|    29703|    29943|    30097|    29753|    29835|
|             78|          Azerbaijan|     3508|     4509|    10342|     9512|     9004|     9803|    11149|    11033|
|             58|             Bahamas|    20639|    20134|    18567|    18403|    18497|    18161|    18101|    18070|
|             47|             Bahrain|    21578|    27393|    25376|    23687|    24307|    25325|    25328|    25711|
|            139|          Bangladesh|     1064|     1326|     1861|     1962|     2080|     2176|     2264|     2379|
|             54|            Barbados|    10609|    10958|    11849|    11844|    11820|    11769|    11746|    11801|
|             52|             Belarus|     6031|     8830|    12151|    12973|    12975|    12652|    13145|    12323|
|             22|             Belgium|    26700|    29608|    32273|    31633|    31989|    32088|    32345|    32422|
|            103|              Belize|     3444|     4168|     4631|     5260|     5308|     5301|     5376|     5360|
|            167|               Benin|     1268|     1349|     1462|     1470|     1495|     1561|     1626|     1673|
|            132|              Bhutan|     2431|     3332|     4909|     5162|     5257|     5360|     5551|     5657|
|            118| Bolivia (Plurina...|     3128|     3328|     3885|     4027|     4116|     4343|     4588|     4696|
|             81| Bosnia and Herze...|     4606|     5264|     6570|     6579|     6505|     6683|     6725|     6950|
+---------------+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [31]:
clean_gnim.write.csv('gnim01.csv')

In [32]:
clean_gnif.write.csv('gnif01.csv')

In [33]:
# 2.4 verify the data

import pandas as pd

inequality= pd.read_csv('My datasets/Gender_inequality.csv')
inequality.isnull().sum()

GII Rank                                         0
Country                                          0
Gender Inequality Index (GII)                   33
Maternal Mortality Ratio                        10
Adolescent Birth Rate                            5
Percent Representation in Parliament             3
Population with Secondary Education (Female)    26
Population with Secondary Education (Male)      26
Labour Force Participation Rate (Female)        11
Labour Force Participation Rate (Male)          11
dtype: int64

In [34]:
inequality.head()

,GII Rank,Country,Gender Inequality Index (GII),Maternal Mortality Ratio,Adolescent Birth Rate,Percent Representation in Parliament,Population with Secondary Education (Female),Population with Secondary Education (Male),Labour Force Participation Rate (Female),Labour Force Participation Rate (Male)
0,1,Norway,0.067,4.0,7.8,39.6,97.4,96.7,61.2,68.7
1,2,Australia,0.110,6.0,12.1,30.5,94.3,94.6,58.8,71.8
2,3,Switzerland,0.028,6.0,1.9,28.5,95.0,96.6,61.8,74.9
3,4,Denmark,0.048,5.0,5.1,38.0,95.5,96.6,58.7,66.4
4,5,Netherlands,0.062,6.0,6.2,36.9,87.7,90.5,58.5,70.6

In [35]:
inequality.shape

(195, 10)

In [36]:
# 3.2 Clean the data

inequality1=inequality.dropna(how='any').shape #Used dropna method to get rid of missing values

inequality1

#inequality1.to_csv('inequality1')

(162, 10)

In [ ]:
inequality1=inequality.dropna(how='any').to_csv('inequality1.csv')

Thus, all the datasets are verified, selected data(if apropriate) and cleaned.

In [37]:
### 3Merging datasets ###

#  GDP+IE+PTE+SE

fte1  = spark.read.csv("fte1.csv",header=True,inferSchema=True) #full-time employment
gwg1 = spark.read.csv("gwg1.csv", header=True,inferSchema=True) #gender wage gap
gnif1 = spark.read.csv("gnif1.csv", header=True,inferSchema=True) #gross national income female
impexp1= spark.read.csv("impexp1.csv", header=True,inferSchema=True) #import-export cost
gnim1 = spark.read.csv("gnim1.csv", header=True,inferSchema=True) #gross national income male
grad= spark.read.csv("My datasets/Graduation_rate.csv", header=True,inferSchema=True) #graduation rates of men and women
inequality1= spark.read.csv("inequality1.csv", header=True,inferSchema=True) #gender inequality measures
gdp1 = spark.read.csv("gdp1.csv", header=True,inferSchema=True) #gross domestic product
pte1 = spark.read.csv("pte1.csv", header=True,inferSchema=True) #part-time employment
se1= spark.read.csv("se1.csv", header=True,inferSchema=True) #self-employment

## steps 3.4 and 3.5


Mergeddata1=gdp1.withColumnRenamed("SUBJECT","GDPsubject").join(impexp1.withColumnRenamed("SUBJECT","Impexp"),on=['LOCATION','TIME'],how='inner')
Mergeddata1.show()

+--------+----+---+---------+----------+-------+---------+------------------+---+---------+------+-------+---------+--------+
|LOCATION|TIME|_c0|INDICATOR|GDPsubject|MEASURE|FREQUENCY|         GDP Value|_c0|INDICATOR|Impexp|MEASURE|FREQUENCY|    Cost|
+--------+----+---+---------+----------+-------+---------+------------------+---+---------+------+-------+---------+--------+
|     AUS|2013| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|385|TRADEGOOD|   IMP|MLN_USD|        A|246949.7|
|     AUS|2013| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|  0|TRADEGOOD|   EXP|MLN_USD|        A|254201.7|
|     AUS|2014| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|386|TRADEGOOD|   IMP|MLN_USD|        A|238300.4|
|     AUS|2014| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|  1|TRADEGOOD|   EXP|MLN_USD|        A|240425.8|
|     AUS|2015| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|387|TRADEGOOD|   IMP|MLN_USD|        A|207262.8|
|     AUS|2015| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|  2|TRADEGOOD|   EXP|MLN_USD|        A|188096.6|
|     AUS|2016| 56|      GDP|       TOT|MLN_USD|        A|       1181218.129|388|TRADEGOOD|   IMP|MLN_USD|        A|198519.0|
|     AUS|2016| 56|      GDP|       TOT|MLN_USD|        A|       1181218.129|  3|TRADEGOOD|   EXP|MLN_USD|        A|192569.5|
|     AUS|2017| 57|      GDP|       TOT|MLN_USD|        A|       1260403.745|389|TRADEGOOD|   IMP|MLN_USD|        A|220874.9|
|     AUS|2017| 57|      GDP|       TOT|MLN_USD|        A|       1260403.745|  4|TRADEGOOD|   EXP|MLN_USD|        A|231442.9|
|     AUS|2013|111|      GDP|       TOT|USD_CAP|        A|46972.957089999996|385|TRADEGOOD|   IMP|MLN_USD|        A|246949.7|
|     AUS|2013|111|      GDP|       TOT|USD_CAP|        A|46972.957089999996|  0|TRADEGOOD|   EXP|MLN_USD|        A|254201.7|
|     AUS|2014|112|      GDP|       TOT|USD_CAP|        A|46871.561519999996|386|TRADEGOOD|   IMP|MLN_USD|        A|238300.4|
|     AUS|2014|112|      GDP|       TOT|USD_CAP|        A|46871.561519999996|  1|TRADEGOOD|   EXP|MLN_USD|        A|240425.8|
|     AUS|2015|113|      GDP|       TOT|USD_CAP|        A|46644.027539999995|387|TRADEGOOD|   IMP|MLN_USD|        A|207262.8|
|     AUS|2015|113|      GDP|       TOT|USD_CAP|        A|46644.027539999995|  2|TRADEGOOD|   EXP|MLN_USD|        A|188096.6|
|     AUS|2016|114|      GDP|       TOT|USD_CAP|        A|       48021.87737|388|TRADEGOOD|   IMP|MLN_USD|        A|198519.0|
|     AUS|2016|114|      GDP|       TOT|USD_CAP|        A|       48021.87737|  3|TRADEGOOD|   EXP|MLN_USD|        A|192569.5|
|     AUS|2017|115|      GDP|       TOT|USD_CAP|        A|50588.149489999996|389|TRADEGOOD|   IMP|MLN_USD|        A|220874.9|
|     AUS|2017|115|      GDP|       TOT|USD_CAP|        A|50588.149489999996|  4|TRADEGOOD|   EXP|MLN_USD|        A|231442.9|
+--------+----+---+---------+----------+-------+---------+------------------+---+---------+------+-------+---------+--------+
only showing top 20 rows

In [47]:

#The datasets 'se1' and 'pte1' both has value as a same column and is not descriptive
Mergeddata2=Mergeddata1.join(pte1.withColumnRenamed("SUBJECT","Sex").withColumnRenamed("Value","pte_value"),on=['LOCATION','TIME'],how='inner')
Mergeddata2.show() #here value defines the parttime rate in %

+--------+----+---+---------+----------+-------+---------+------------------+---+---------+------+-------+---------+--------+----+---------+-----+-------+---------+-----------+
|LOCATION|TIME|_c0|INDICATOR|GDPsubject|MEASURE|FREQUENCY|         GDP Value|_c0|INDICATOR|Impexp|MEASURE|FREQUENCY|    Cost| _c0|INDICATOR|  Sex|MEASURE|FREQUENCY|  pte_value|
+--------+----+---+---------+----------+-------+---------+------------------+---+---------+------+-------+---------+--------+----+---------+-----+-------+---------+-----------+
|     AUS|2013| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|385|TRADEGOOD|   IMP|MLN_USD|        A|246949.7|1314|  PARTEMP|WOMEN| PC_EMP|        A|38.13894779|
|     AUS|2013| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|385|TRADEGOOD|   IMP|MLN_USD|        A|246949.7|1297|  PARTEMP|  MEN| PC_EMP|        A|13.64545132|
|     AUS|2013| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|385|TRADEGOOD|   IMP|MLN_USD|        A|246949.7|  12|  PARTEMP|  TOT| PC_EMP|        A|24.88420388|
|     AUS|2013| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|  0|TRADEGOOD|   EXP|MLN_USD|        A|254201.7|1314|  PARTEMP|WOMEN| PC_EMP|        A|38.13894779|
|     AUS|2013| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|  0|TRADEGOOD|   EXP|MLN_USD|        A|254201.7|1297|  PARTEMP|  MEN| PC_EMP|        A|13.64545132|
|     AUS|2013| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|  0|TRADEGOOD|   EXP|MLN_USD|        A|254201.7|  12|  PARTEMP|  TOT| PC_EMP|        A|24.88420388|
|     AUS|2014| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|386|TRADEGOOD|   IMP|MLN_USD|        A|238300.4|1315|  PARTEMP|WOMEN| PC_EMP|        A|38.32933184|
|     AUS|2014| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|386|TRADEGOOD|   IMP|MLN_USD|        A|238300.4|1298|  PARTEMP|  MEN| PC_EMP|        A|14.02728855|
|     AUS|2014| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|386|TRADEGOOD|   IMP|MLN_USD|        A|238300.4|  13|  PARTEMP|  TOT| PC_EMP|        A|25.20848057|
|     AUS|2014| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|  1|TRADEGOOD|   EXP|MLN_USD|        A|240425.8|1315|  PARTEMP|WOMEN| PC_EMP|        A|38.32933184|
|     AUS|2014| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|  1|TRADEGOOD|   EXP|MLN_USD|        A|240425.8|1298|  PARTEMP|  MEN| PC_EMP|        A|14.02728855|
|     AUS|2014| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|  1|TRADEGOOD|   EXP|MLN_USD|        A|240425.8|  13|  PARTEMP|  TOT| PC_EMP|        A|25.20848057|
|     AUS|2015| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|387|TRADEGOOD|   IMP|MLN_USD|        A|207262.8|1316|  PARTEMP|WOMEN| PC_EMP|        A|37.97461818|
|     AUS|2015| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|387|TRADEGOOD|   IMP|MLN_USD|        A|207262.8|1299|  PARTEMP|  MEN| PC_EMP|        A|14.28817122|
|     AUS|2015| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|387|TRADEGOOD|   IMP|MLN_USD|        A|207262.8|  14|  PARTEMP|  TOT| PC_EMP|        A|25.24137393|
|     AUS|2015| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|  2|TRADEGOOD|   EXP|MLN_USD|        A|188096.6|1316|  PARTEMP|WOMEN| PC_EMP|        A|37.97461818|
|     AUS|2015| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|  2|TRADEGOOD|   EXP|MLN_USD|        A|188096.6|1299|  PARTEMP|  MEN| PC_EMP|        A|14.28817122|
|     AUS|2015| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|  2|TRADEGOOD|   EXP|MLN_USD|        A|188096.6|  14|  PARTEMP|  TOT| PC_EMP|        A|25.24137393|
|     AUS|2016| 56|      GDP|       TOT|MLN_USD|        A|       1181218.129|388|TRADEGOOD|   IMP|MLN_USD|        A|198519.0|1317|  PARTEMP|WOMEN| PC_EMP|        A|38.34999706|
|     AUS|2016| 56|      GDP|       TOT|MLN_USD|        A|       1181218.129|388|TRADEGOOD|   IMP|MLN_USD|        A|198519.0|1300|  PARTEMP|  MEN| PC_EMP|        A|15.06354083|
+--------+----+---+---------+----------+-------+---------+------------------+---+---------+------+-------+---------+--------+----+---------+-----+-------+---------+-----------+
only showing top 20 rows

In [48]:
Mergeddata3=Mergeddata2.join(se1.withColumnRenamed("SUBJECT","Sex").withColumnRenamed("Value","se_value"),on=['LOCATION','TIME','Sex'],how='inner')
Mergeddata3.show() #both se and pte contains same column names 
#will change it in next step of format the data

+--------+----+-----+---+---------+----------+-------+---------+------------------+---+---------+------+-------+---------+--------+----+---------+-------+---------+-----------+---+---------+-------+---------+--------+
|LOCATION|TIME|  Sex|_c0|INDICATOR|GDPsubject|MEASURE|FREQUENCY|         GDP Value|_c0|INDICATOR|Impexp|MEASURE|FREQUENCY|    Cost| _c0|INDICATOR|MEASURE|FREQUENCY|  pte_value|_c0|INDICATOR|MEASURE|FREQUENCY|se_value|
+--------+----+-----+---+---------+----------+-------+---------+------------------+---+---------+------+-------+---------+--------+----+---------+-------+---------+-----------+---+---------+-------+---------+--------+
|     AUS|2013|WOMEN| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|385|TRADEGOOD|   IMP|MLN_USD|        A|246949.7|1314|  PARTEMP| PC_EMP|        A|38.13894779|153|  SELFEMP| PC_EMP|        A|7.888205|
|     AUS|2013|  MEN| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|385|TRADEGOOD|   IMP|MLN_USD|        A|246949.7|1297|  PARTEMP| PC_EMP|        A|13.64545132| 48|  SELFEMP| PC_EMP|        A|11.96755|
|     AUS|2013|  TOT| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|385|TRADEGOOD|   IMP|MLN_USD|        A|246949.7|  12|  PARTEMP| PC_EMP|        A|24.88420388|101|  SELFEMP| PC_EMP|        A|10.09544|
|     AUS|2013|WOMEN| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|  0|TRADEGOOD|   EXP|MLN_USD|        A|254201.7|1314|  PARTEMP| PC_EMP|        A|38.13894779|153|  SELFEMP| PC_EMP|        A|7.888205|
|     AUS|2013|  MEN| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|  0|TRADEGOOD|   EXP|MLN_USD|        A|254201.7|1297|  PARTEMP| PC_EMP|        A|13.64545132| 48|  SELFEMP| PC_EMP|        A|11.96755|
|     AUS|2013|  TOT| 53|      GDP|       TOT|MLN_USD|        A|       1102723.049|  0|TRADEGOOD|   EXP|MLN_USD|        A|254201.7|  12|  PARTEMP| PC_EMP|        A|24.88420388|101|  SELFEMP| PC_EMP|        A|10.09544|
|     AUS|2014|WOMEN| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|386|TRADEGOOD|   IMP|MLN_USD|        A|238300.4|1315|  PARTEMP| PC_EMP|        A|38.32933184|154|  SELFEMP| PC_EMP|        A|7.984249|
|     AUS|2014|  MEN| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|386|TRADEGOOD|   IMP|MLN_USD|        A|238300.4|1298|  PARTEMP| PC_EMP|        A|14.02728855| 49|  SELFEMP| PC_EMP|        A|12.04906|
|     AUS|2014|  TOT| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|386|TRADEGOOD|   IMP|MLN_USD|        A|238300.4|  13|  PARTEMP| PC_EMP|        A|25.20848057|102|  SELFEMP| PC_EMP|        A|10.17861|
|     AUS|2014|WOMEN| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|  1|TRADEGOOD|   EXP|MLN_USD|        A|240425.8|1315|  PARTEMP| PC_EMP|        A|38.32933184|154|  SELFEMP| PC_EMP|        A|7.984249|
|     AUS|2014|  MEN| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|  1|TRADEGOOD|   EXP|MLN_USD|        A|240425.8|1298|  PARTEMP| PC_EMP|        A|14.02728855| 49|  SELFEMP| PC_EMP|        A|12.04906|
|     AUS|2014|  TOT| 54|      GDP|       TOT|MLN_USD|        A|1116293.1090000002|  1|TRADEGOOD|   EXP|MLN_USD|        A|240425.8|  13|  PARTEMP| PC_EMP|        A|25.20848057|102|  SELFEMP| PC_EMP|        A|10.17861|
|     AUS|2015|WOMEN| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|387|TRADEGOOD|   IMP|MLN_USD|        A|207262.8|1316|  PARTEMP| PC_EMP|        A|37.97461818|155|  SELFEMP| PC_EMP|        A|8.149455|
|     AUS|2015|  MEN| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|387|TRADEGOOD|   IMP|MLN_USD|        A|207262.8|1299|  PARTEMP| PC_EMP|        A|14.28817122| 50|  SELFEMP| PC_EMP|        A| 12.1109|
|     AUS|2015|  TOT| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|387|TRADEGOOD|   IMP|MLN_USD|        A|207262.8|  14|  PARTEMP| PC_EMP|        A|25.24137393|103|  SELFEMP| PC_EMP|        A| 10.2787|
|     AUS|2015|WOMEN| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|  2|TRADEGOOD|   EXP|MLN_USD|        A|188096.6|1316|  PARTEMP| PC_EMP|        A|37.97461818|155|  SELFEMP| PC_EMP|        A|8.149455|
|     AUS|2015|  MEN| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|  2|TRADEGOOD|   EXP|MLN_USD|        A|188096.6|1299|  PARTEMP| PC_EMP|        A|14.28817122| 50|  SELFEMP| PC_EMP|        A| 12.1109|
|     AUS|2015|  TOT| 55|      GDP|       TOT|MLN_USD|        A|       1128361.006|  2|TRADEGOOD|   EXP|MLN_USD|        A|188096.6|  14|  PARTEMP| PC_EMP|        A|25.24137393|103|  SELFEMP| PC_EMP|        A| 10.2787|
|     AUS|2016|WOMEN| 56|      GDP|       TOT|MLN_USD|        A|       1181218.129|388|TRADEGOOD|   IMP|MLN_USD|        A|198519.0|1317|  PARTEMP| PC_EMP|        A|38.34999706|156|  SELFEMP| PC_EMP|        A|8.127125|
|     AUS|2016|  MEN| 56|      GDP|       TOT|MLN_USD|        A|       1181218.129|388|TRADEGOOD|   IMP|MLN_USD|        A|198519.0|1300|  PARTEMP| PC_EMP|        A|15.06354083| 51|  SELFEMP| PC_EMP|        A|11.70648|
+--------+----+-----+---+---------+----------+-------+---------+------------------+---+---------+------+-------+---------+--------+----+---------+-------+---------+-----------+---+---------+-------+---------+--------+
only showing top 20 rows

In [41]:
#Remaining 5 datasets FTE+GWG+INEQUALITY+GNIM+GNIF

#the column names of gwg are changed 

Mergeddata4=fte1.join(gwg1.withColumnRenamed("2011","2011gwg").withColumnRenamed("2012","2012gwg").withColumnRenamed("2013","2013gwg").withColumnRenamed("2014","2014gwg").withColumnRenamed("2015","2015gwg").withColumnRenamed("2016","2016gwg"),on=['Country'],how='inner')
Mergeddata4.show()

#the gwg has column names which are not quite descriptive-> will change in step 3.5

+--------------+---+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|       Country|_c0|  Sex|2011_fte|2012_fte|2013_fte|2014_fte|2015_fte|2016_fte| 2011gwg| 2012gwg| 2013gwg| 2014gwg| 2015gwg| 2016gwg|
+--------------+---+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|     Australia|  0|  Men|    80.2|    79.8|    78.7|    77.7|    77.9|    77.2|    16.0|    13.8|    18.0|    15.4|    13.0|    14.3|
|     Australia|  1|Women|    51.8|    51.8|    51.7|    51.1|    52.1|    52.3|    16.0|    13.8|    18.0|    15.4|    13.0|    14.3|
|       Austria|  2|  Men|    80.0|    79.6|    78.4|    76.9|    76.5|    76.7|    18.6|    18.2|    18.1|    17.7|    17.0|14.08125|
|       Austria|  3|Women|    54.0|    54.3|    54.1|    53.5|    53.5|    54.0|    18.6|    18.2|    18.1|    17.7|    17.0|14.08125|
|       Belgium|  4|  Men|    67.9|    67.8|    67.9|    66.9|    66.4|    67.2|     5.8|     6.4|     5.9|     3.3|     4.7|14.08125|
|       Belgium|  5|Women|    46.3|    46.5|    47.2|    48.0|    48.2|    48.2|     5.8|     6.4|     5.9|     3.3|     4.7|14.08125|
|         Chile|  6|  Men|    83.2|    83.1|    82.9|    81.2|    81.0|    79.5|    16.0|14.08125|    10.7|14.08125|    21.1|14.08125|
|         Chile|  7|Women|    47.6|    48.9|    49.6|    49.9|    49.8|    49.6|    16.0|14.08125|    10.7|14.08125|    21.1|14.08125|
|Czech Republic|  8|  Men|    78.9|    79.1|    79.5|    80.6|    81.4|    82.7|    16.3|    15.3|    15.4|    16.3|    16.5|    16.3|
|Czech Republic|  9|Women|    55.8|    56.5|    57.3|    58.3|    60.1|    61.8|    16.3|    15.3|    15.4|    16.3|    16.5|    16.3|
|       Denmark| 10|  Men|    68.1|    67.1|    66.9|    67.4|    68.2|    67.7|     7.9|     7.0|     6.8|     6.3|     5.8|14.08125|
|       Denmark| 11|Women|    54.9|    54.7|    54.8|    54.3|    54.6|    55.1|     7.9|     7.0|     6.8|     6.3|     5.8|14.08125|
|       Estonia| 12|  Men|    68.1|    70.2|    71.5|    72.7|    75.3|    74.8|14.08125|14.08125|14.08125|    28.3|14.08125|14.08125|
|       Estonia| 13|Women|    58.5|    60.5|    61.7|    62.7|    63.6|    63.5|14.08125|14.08125|14.08125|    28.3|14.08125|14.08125|
|       Finland| 14|  Men|    69.5|    69.4|    67.4|    67.7|    67.4|    68.4|    18.6|    18.7|    20.2|    19.6|    18.1|14.08125|
|       Finland| 15|Women|    59.3|    59.6|    58.9|    59.1|    59.1|    58.5|    18.6|    18.7|    20.2|    19.6|    18.1|14.08125|
|        France| 16|  Men|    69.9|    69.6|    68.6|    67.8|    67.5|    68.0|14.08125|14.08125|14.08125|     9.9|14.08125|14.08125|
|        France| 17|Women|    51.8|    51.9|    51.8|    52.1|    52.4|    52.8|14.08125|14.08125|14.08125|     9.9|14.08125|14.08125|
|       Germany| 18|  Men|    77.5|    77.7|    77.2|    77.0|    76.6|    77.0|    16.9|    15.6|    14.1|    17.4|    15.8|    15.5|
|       Germany| 19|Women|    51.5|    51.8|    52.3|    53.0|    53.2|    54.1|    16.9|    15.6|    14.1|    17.4|    15.8|    15.5|
+--------------+---+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
only showing top 20 rows

In [42]:
Mergeddata5=Mergeddata4.join(gnif1,on=['Country'],how='inner')
Mergeddata5.show()

+--------------+---+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------------+---------+---------+---------+---------+---------+---------+---------+---------+
|       Country|_c0|  Sex|2011_fte|2012_fte|2013_fte|2014_fte|2015_fte|2016_fte| 2011gwg| 2012gwg| 2013gwg| 2014gwg| 2015gwg| 2016gwg|HDI Rank(2015)|2000_gnif|2005_gnif|2010_gnif|2011_gnif|2012_gnif|2013_gnif|2014_gnif|2015_gnif|
+--------------+---+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------------+---------+---------+---------+---------+---------+---------+---------+---------+
|     Australia|  0|  Men|    80.2|    79.8|    78.7|    77.7|    77.9|    77.2|    16.0|    13.8|    18.0|    15.4|    13.0|    14.3|             2|    26268|    29848|    31749|    32039|    32968|    33478|    33751|    34271|
|     Australia|  1|Women|    51.8|    51.8|    51.7|    51.1|    52.1|    52.3|    16.0|    13.8|    18.0|    15.4|    13.0|    14.3|             2|    26268|    29848|    31749|    32039|    32968|    33478|    33751|    34271|
|       Austria|  2|  Men|    80.0|    79.6|    78.4|    76.9|    76.5|    76.7|    18.6|    18.2|    18.1|    17.7|    17.0|14.08125|            24|    23830|    25997|    29036|    29703|    29943|    30097|    29753|    29835|
|       Austria|  3|Women|    54.0|    54.3|    54.1|    53.5|    53.5|    54.0|    18.6|    18.2|    18.1|    17.7|    17.0|14.08125|            24|    23830|    25997|    29036|    29703|    29943|    30097|    29753|    29835|
|       Belgium|  4|  Men|    67.9|    67.8|    67.9|    66.9|    66.4|    67.2|     5.8|     6.4|     5.9|     3.3|     4.7|14.08125|            22|    26700|    29608|    32273|    31633|    31989|    32088|    32345|    32422|
|       Belgium|  5|Women|    46.3|    46.5|    47.2|    48.0|    48.2|    48.2|     5.8|     6.4|     5.9|     3.3|     4.7|14.08125|            22|    26700|    29608|    32273|    31633|    31989|    32088|    32345|    32422|
|         Chile|  6|  Men|    83.2|    83.1|    82.9|    81.2|    81.0|    79.5|    16.0|14.08125|    10.7|14.08125|    21.1|14.08125|            38|     7569|     8943|    12247|    13030|    13899|    14446|    14737|    14955|
|         Chile|  7|Women|    47.6|    48.9|    49.6|    49.9|    49.8|    49.6|    16.0|14.08125|    10.7|14.08125|    21.1|14.08125|            38|     7569|     8943|    12247|    13030|    13899|    14446|    14737|    14955|
|Czech Republic|  8|  Men|    78.9|    79.1|    79.5|    80.6|    81.4|    82.7|    16.3|    15.3|    15.4|    16.3|    16.5|    16.3|            28|    15028|    17677|    18587|    19408|    19631|    19624|    20053|    21001|
|Czech Republic|  9|Women|    55.8|    56.5|    57.3|    58.3|    60.1|    61.8|    16.3|    15.3|    15.4|    16.3|    16.5|    16.3|            28|    15028|    17677|    18587|    19408|    19631|    19624|    20053|    21001|
|       Denmark| 10|  Men|    68.1|    67.1|    66.9|    67.4|    68.2|    67.7|     7.9|     7.0|     6.8|     6.3|     5.8|14.08125|             5|    31989|    34844|    36081|    36518|    36504|    36724|    36749|    36857|
|       Denmark| 11|Women|    54.9|    54.7|    54.8|    54.3|    54.6|    55.1|     7.9|     7.0|     6.8|     6.3|     5.8|14.08125|             5|    31989|    34844|    36081|    36518|    36504|    36724|    36749|    36857|
|       Estonia| 12|  Men|    68.1|    70.2|    71.5|    72.7|    75.3|    74.8|14.08125|14.08125|14.08125|    28.3|14.08125|14.08125|            30|    11513|    17075|    17665|    19073|    20339|    21105|    21590|    21976|
|       Estonia| 13|Women|    58.5|    60.5|    61.7|    62.7|    63.6|    63.5|14.08125|14.08125|14.08125|    28.3|14.08125|14.08125|            30|    11513|    17075|    17665|    19073|    20339|    21105|    21590|    21976|
|       Finland| 14|  Men|    69.5|    69.4|    67.4|    67.7|    67.4|    68.4|    18.6|    18.7|    20.2|    19.6|    18.1|14.08125|            23|    27013|    32587|    33507|    33122|    33673|    32105|    32029|    32081|
|       Finland| 15|Women|    59.3|    59.6|    58.9|    59.1|    59.1|    58.5|    18.6|    18.7|    20.2|    19.6|    18.1|14.08125|            23|    27013|    32587|    33507|    33122|    33673|    32105|    32029|    32081|
|        France| 16|  Men|    69.9|    69.6|    68.6|    67.8|    67.5|    68.0|14.08125|14.08125|14.08125|     9.9|14.08125|14.08125|            21|    26374|    28405|    30860|    31415|    31440|    31532|    31519|    31734|
|        France| 17|Women|    51.8|    51.9|    51.8|    52.1|    52.4|    52.8|14.08125|14.08125|14.08125|     9.9|14.08125|14.08125|            21|    26374|    28405|    30860|    31415|    31440|    31532|    31519|    31734|
|       Germany| 18|  Men|    77.5|    77.7|    77.2|    77.0|    76.6|    77.0|    16.9|    15.6|    14.1|    17.4|    15.8|    15.5|             4|    26453|    29535|    32718|    33944|    34580|    34306|    35357|    35868|
|       Germany| 19|Women|    51.5|    51.8|    52.3|    53.0|    53.2|    54.1|    16.9|    15.6|    14.1|    17.4|    15.8|    15.5|             4|    26453|    29535|    32718|    33944|    34580|    34306|    35357|    35868|
+--------------+---+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [43]:
Mergeddata6=Mergeddata5.join(gnim1,on=['Country'],how='inner')
Mergeddata6.show()

+--------------+---+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------------+---------+---------+---------+---------+---------+---------+---------+---------+--------------+--------+--------+--------+--------+--------+--------+--------+--------+
|       Country|_c0|  Sex|2011_fte|2012_fte|2013_fte|2014_fte|2015_fte|2016_fte| 2011gwg| 2012gwg| 2013gwg| 2014gwg| 2015gwg| 2016gwg|HDI Rank(2015)|2000_gnif|2005_gnif|2010_gnif|2011_gnif|2012_gnif|2013_gnif|2014_gnif|2015_gnif|HDI Rank(2015)|2000_gni|2005_gni|2010_gni|2011_gni|2012_gni|2013_gni|2014_gni|2015_gni|
+--------------+---+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------------+---------+---------+---------+---------+---------+---------+---------+---------+--------------+--------+--------+--------+--------+--------+--------+--------+--------+
|     Australia|  0|  Men|    80.2|    79.8|    78.7|    77.7|    77.9|    77.2|    16.0|    13.8|    18.0|    15.4|    13.0|    14.3|             2|    26268|    29848|    31749|    32039|    32968|    33478|    33751|    34271|             2|   45151|   49034|   47883|   48125|   49539|   50135|   50577|   51386|
|     Australia|  1|Women|    51.8|    51.8|    51.7|    51.1|    52.1|    52.3|    16.0|    13.8|    18.0|    15.4|    13.0|    14.3|             2|    26268|    29848|    31749|    32039|    32968|    33478|    33751|    34271|             2|   45151|   49034|   47883|   48125|   49539|   50135|   50577|   51386|
|       Austria|  2|  Men|    80.0|    79.6|    78.4|    76.9|    76.5|    76.7|    18.6|    18.2|    18.1|    17.7|    17.0|14.08125|            24|    23830|    25997|    29036|    29703|    29943|    30097|    29753|    29835|            24|   53118|   56435|   58364|   59355|   59112|   58828|   57874|   57882|
|       Austria|  3|Women|    54.0|    54.3|    54.1|    53.5|    53.5|    54.0|    18.6|    18.2|    18.1|    17.7|    17.0|14.08125|            24|    23830|    25997|    29036|    29703|    29943|    30097|    29753|    29835|            24|   53118|   56435|   58364|   59355|   59112|   58828|   57874|   57882|
|       Belgium|  4|  Men|    67.9|    67.8|    67.9|    66.9|    66.4|    67.2|     5.8|     6.4|     5.9|     3.3|     4.7|14.08125|            22|    26700|    29608|    32273|    31633|    31989|    32088|    32345|    32422|            22|   49334|   50113|   51932|   51175|   51484|   50255|   50356|   50352|
|       Belgium|  5|Women|    46.3|    46.5|    47.2|    48.0|    48.2|    48.2|     5.8|     6.4|     5.9|     3.3|     4.7|14.08125|            22|    26700|    29608|    32273|    31633|    31989|    32088|    32345|    32422|            22|   49334|   50113|   51932|   51175|   51484|   50255|   50356|   50352|
|         Chile|  6|  Men|    83.2|    83.1|    82.9|    81.2|    81.0|    79.5|    16.0|14.08125|    10.7|14.08125|    21.1|14.08125|            38|     7569|     8943|    12247|    13030|    13899|    14446|    14737|    14955|            38|   20954|   22453|   23995|   25422|   26889|   27711|   28147|   28556|
|         Chile|  7|Women|    47.6|    48.9|    49.6|    49.9|    49.8|    49.6|    16.0|14.08125|    10.7|14.08125|    21.1|14.08125|            38|     7569|     8943|    12247|    13030|    13899|    14446|    14737|    14955|            38|   20954|   22453|   23995|   25422|   26889|   27711|   28147|   28556|
|Czech Republic|  8|  Men|    78.9|    79.1|    79.5|    80.6|    81.4|    82.7|    16.3|    15.3|    15.4|    16.3|    16.5|    16.3|            28|    15028|    17677|    18587|    19408|    19631|    19624|    20053|    21001|            28|   26497|   31435|   33642|   33720|   33685|   33488|   33941|   35540|
|Czech Republic|  9|Women|    55.8|    56.5|    57.3|    58.3|    60.1|    61.8|    16.3|    15.3|    15.4|    16.3|    16.5|    16.3|            28|    15028|    17677|    18587|    19408|    19631|    19624|    20053|    21001|            28|   26497|   31435|   33642|   33720|   33685|   33488|   33941|   35540|
|       Denmark| 10|  Men|    68.1|    67.1|    66.9|    67.4|    68.2|    67.7|     7.9|     7.0|     6.8|     6.3|     5.8|14.08125|             5|    31989|    34844|    36081|    36518|    36504|    36724|    36749|    36857|             5|   49941|   53861|   51472|   52071|   51825|   52123|   52149|   52293|
|       Denmark| 11|Women|    54.9|    54.7|    54.8|    54.3|    54.6|    55.1|     7.9|     7.0|     6.8|     6.3|     5.8|14.08125|             5|    31989|    34844|    36081|    36518|    36504|    36724|    36749|    36857|             5|   49941|   53861|   51472|   52071|   51825|   52123|   52149|   52293|
|       Estonia| 12|  Men|    68.1|    70.2|    71.5|    72.7|    75.3|    74.8|14.08125|14.08125|14.08125|    28.3|14.08125|14.08125|            30|    11513|    17075|    17665|    19073|    20339|    21105|    21590|    21976|            30|   18499|   26329|   24932|   26983|   28838|   29986|   30859|   31347|
|       Estonia| 13|Women|    58.5|    60.5|    61.7|    62.7|    63.6|    63.5|14.08125|14.08125|14.08125|    28.3|14.08125|14.08125|            30|    11513|    17075|    17665|    19073|    20339|    21105|    21590|    21976|            30|   18499|   26329|   24932|   26983|   28838|   29986|   30859|   31347|
|       Finland| 14|  Men|    69.5|    69.4|    67.4|    67.7|    67.4|    68.4|    18.6|    18.7|    20.2|    19.6|    18.1|14.08125|            23|    27013|    32587|    33507|    33122|    33673|    32105|    32029|    32081|            23|   41926|   45421|   46658|   48013|   45928|   46428|   45851|   45870|
|       Finland| 15|Women|    59.3|    59.6|    58.9|    59.1|    59.1|    58.5|    18.6|    18.7|    20.2|    19.6|    18.1|14.08125|            23|    27013|    32587|    33507|    33122|    33673|    32105|    32029|    32081|            23|   41926|   45421|   46658|   48013|   45928|   46428|   45851|   45870|
|        France| 16|  Men|    69.9|    69.6|    68.6|    67.8|    67.5|    68.0|14.08125|14.08125|14.08125|     9.9|14.08125|14.08125|            21|    26374|    28405|    30860|    31415|    31440|    31532|    31519|    31734|            21|   44891|   46091|   44486|   45314|   44384|   44484|   44480|   44783|
|        France| 17|Women|    51.8|    51.9|    51.8|    52.1|    52.4|    52.8|14.08125|14.08125|14.08125|     9.9|14.08125|14.08125|            21|    26374|    28405|    30860|    31415|    31440|    31532|    31519|    31734|            21|   44891|   46091|   44486|   45314|   44384|   44484|   44480|   44783|
|       Germany| 18|  Men|    77.5|    77.7|    77.2|    77.0|    76.6|    77.0|    16.9|    15.6|    14.1|    17.4|    15.8|    15.5|             4|    26453|    29535|    32718|    33944|    34580|    34306|    35357|    35868|             4|   47501|   47378|   50594|   52839|   53904|   52401|   53937|   54450|
|       Germany| 19|Women|    51.5|    51.8|    52.3|    53.0|    53.2|    54.1|    16.9|    15.6|    14.1|    17.4|    15.8|    15.5|             4|    26453|    29535|    32718|    33944|    34580|    34306|    35357|    35868|             4|   47501|   47378|   50594|   52839|   53904|   52401|   53937|   54450|
+--------------+---+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------------+---------+---------+---------+---------+---------+---------+---------+---------+--------------+--------+--------+--------+--------+--------+--------+--------+--------+
only showing top 20 rows

In [44]:
Mergeddata7=Mergeddata6.join(inequality1,on=['Country'],how='inner').drop("_c0","HDI Rank(2015)") 
Mergeddata7.show()

+--------------+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-----------------------------+------------------------+---------------------+------------------------------------+--------------------------------------------+------------------------------------------+----------------------------------------+--------------------------------------+
|       Country|  Sex|2011_fte|2012_fte|2013_fte|2014_fte|2015_fte|2016_fte| 2011gwg| 2012gwg| 2013gwg| 2014gwg| 2015gwg| 2016gwg|2000_gnif|2005_gnif|2010_gnif|2011_gnif|2012_gnif|2013_gnif|2014_gnif|2015_gnif|2000_gni|2005_gni|2010_gni|2011_gni|2012_gni|2013_gni|2014_gni|2015_gni|GII Rank|Gender Inequality Index (GII)|Maternal Mortality Ratio|Adolescent Birth Rate|Percent Representation in Parliament|Population with Secondary Education (Female)|Population with Secondary Education (Male)|Labour Force Participation Rate (Female)|Labour Force Participation Rate (Male)|
+--------------+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-----------------------------+------------------------+---------------------+------------------------------------+--------------------------------------------+------------------------------------------+----------------------------------------+--------------------------------------+
|     Australia|  Men|    80.2|    79.8|    78.7|    77.7|    77.9|    77.2|    16.0|    13.8|    18.0|    15.4|    13.0|    14.3|    26268|    29848|    31749|    32039|    32968|    33478|    33751|    34271|   45151|   49034|   47883|   48125|   49539|   50135|   50577|   51386|       2|                         0.11|                     6.0|                 12.1|                                30.5|                                        94.3|                                      94.6|                                    58.8|                                  71.8|
|     Australia|Women|    51.8|    51.8|    51.7|    51.1|    52.1|    52.3|    16.0|    13.8|    18.0|    15.4|    13.0|    14.3|    26268|    29848|    31749|    32039|    32968|    33478|    33751|    34271|   45151|   49034|   47883|   48125|   49539|   50135|   50577|   51386|       2|                         0.11|                     6.0|                 12.1|                                30.5|                                        94.3|                                      94.6|                                    58.8|                                  71.8|
|       Austria|  Men|    80.0|    79.6|    78.4|    76.9|    76.5|    76.7|    18.6|    18.2|    18.1|    17.7|    17.0|14.08125|    23830|    25997|    29036|    29703|    29943|    30097|    29753|    29835|   53118|   56435|   58364|   59355|   59112|   58828|   57874|   57882|      23|                        0.053|                     4.0|                  4.1|                                30.3|                                       100.0|                                     100.0|                                    54.6|                                  67.7|
|       Austria|Women|    54.0|    54.3|    54.1|    53.5|    53.5|    54.0|    18.6|    18.2|    18.1|    17.7|    17.0|14.08125|    23830|    25997|    29036|    29703|    29943|    30097|    29753|    29835|   53118|   56435|   58364|   59355|   59112|   58828|   57874|   57882|      23|                        0.053|                     4.0|                  4.1|                                30.3|                                       100.0|                                     100.0|                                    54.6|                                  67.7|
|       Belgium|  Men|    67.9|    67.8|    67.9|    66.9|    66.4|    67.2|     5.8|     6.4|     5.9|     3.3|     4.7|14.08125|    26700|    29608|    32273|    31633|    31989|    32088|    32345|    32422|   49334|   50113|   51932|   51175|   51484|   50255|   50356|   50352|      21|                        0.063|                     6.0|                  6.7|                                42.4|                                        77.5|                                      82.9|                                    47.5|                                  59.3|
|       Belgium|Women|    46.3|    46.5|    47.2|    48.0|    48.2|    48.2|     5.8|     6.4|     5.9|     3.3|     4.7|14.08125|    26700|    29608|    32273|    31633|    31989|    32088|    32345|    32422|   49334|   50113|   51932|   51175|   51484|   50255|   50356|   50352|      21|                        0.063|                     6.0|                  6.7|                                42.4|                                        77.5|                                      82.9|                                    47.5|                                  59.3|
|         Chile|  Men|    83.2|    83.1|    82.9|    81.2|    81.0|    79.5|    16.0|14.08125|    10.7|14.08125|    21.1|14.08125|     7569|     8943|    12247|    13030|    13899|    14446|    14737|    14955|   20954|   22453|   23995|   25422|   26889|   27711|   28147|   28556|      42|          0.33799999999999997|                    22.0|                 55.3|                                15.8|                                        73.3|                                      76.4|                                    49.2|                                  74.8|
|         Chile|Women|    47.6|    48.9|    49.6|    49.9|    49.8|    49.6|    16.0|14.08125|    10.7|14.08125|    21.1|14.08125|     7569|     8943|    12247|    13030|    13899|    14446|    14737|    14955|   20954|   22453|   23995|   25422|   26889|   27711|   28147|   28556|      42|          0.33799999999999997|                    22.0|                 55.3|                                15.8|                                        73.3|                                      76.4|                                    49.2|                                  74.8|
|Czech Republic|  Men|    78.9|    79.1|    79.5|    80.6|    81.4|    82.7|    16.3|    15.3|    15.4|    16.3|    16.5|    16.3|    15028|    17677|    18587|    19408|    19631|    19624|    20053|    21001|   26497|   31435|   33642|   33720|   33685|   33488|   33941|   35540|      28|                        0.091|                     5.0|                  4.9|                                18.9|                                        99.9|                                      99.7|                                    51.1|                                  68.3|
|Czech Republic|Women|    55.8|    56.5|    57.3|    58.3|    60.1|    61.8|    16.3|    15.3|    15.4|    16.3|    16.5|    16.3|    15028|    17677|    18587|    19408|    19631|    19624|    20053|    21001|   26497|   31435|   33642|   33720|   33685|   33488|   33941|   35540|      28|                        0.091|                     5.0|                  4.9|                                18.9|                                        99.9|                                      99.7|                                    51.1|                                  68.3|
|       Denmark|  Men|    68.1|    67.1|    66.9|    67.4|    68.2|    67.7|     7.9|     7.0|     6.8|     6.3|     5.8|14.08125|    31989|    34844|    36081|    36518|    36504|    36724|    36749|    36857|   49941|   53861|   51472|   52071|   51825|   52123|   52149|   52293|       4|                        0.048|                     5.0|                  5.1|                                38.0|                                        95.5|                                      96.6|                                    58.7|                                  66.4|
|       Denmark|Women|    54.9|    54.7|    54.8|    54.3|    54.6|    55.1|     7.9|     7.0|     6.8|     6.3|     5.8|14.08125|    31989|    34844|    36081|    36518|    36504|    36724|    36749|    36857|   49941|   53861|   51472|   52071|   51825|   52123|   52149|   52293|       4|                        0.048|                     5.0|                  5.1|                                38.0|                                        95.5|                                      96.6|                                    58.7|                                  66.4|
|       Estonia|  Men|    68.1|    70.2|    71.5|    72.7|    75.3|    74.8|14.08125|14.08125|14.08125|    28.3|14.08125|14.08125|    11513|    17075|    17665|    19073|    20339|    21105|    21590|    21976|   18499|   26329|   24932|   26983|   28838|   29986|   30859|   31347|      30|          0.16399999999999998|                    11.0|                 16.8|                                19.8|                                       100.0|                                     100.0|                                    56.2|                                  68.9|
|       Estonia|Women|    58.5|    60.5|    61.7|    62.7|    63.6|    63.5|14.08125|14.08125|14.08125|    28.3|14.08125|14.08125|    11513|    17075|    17665|    19073|    20339|    21105|    21590|    21976|   18499|   26329|   24932|   26983|   28838|   29986|   30859|   31347|      30|          0.16399999999999998|                    11.0|                 16.8|                                19.8|                                       100.0|                                     100.0|                                    56.2|                                  68.9|
|       Finland|  Men|    69.5|    69.4|    67.4|    67.7|    67.4|    68.4|    18.6|    18.7|    20.2|    19.6|    18.1|14.08125|    27013|    32587|    33507|    33122|    33673|    32105|    32029|    32081|   41926|   45421|   46658|   48013|   45928|   46428|   45851|   45870|      24|                        0.075|                     4.0|                  9.2|                                42.5|                                       100.0|                                     100.0|                                    55.7|                                  64.0|
|       Finland|Women|    59.3|    59.6|    58.9|    59.1|    59.1|    58.5|    18.6|    18.7|    20.2|    19.6|    18.1|14.08125|    27013|    32587|    33507|    33122|    33673|    32105|    32029|    32081|   41926|   45421|   46658|   48013|   45928|   46428|   45851|   45870|      24|                        0.075|                     4.0|                  9.2|                                42.5|                                       100.0|                                     100.0|                                    55.7|                                  64.0|
|        France|  Men|    69.9|    69.6|    68.6|    67.8|    67.5|    68.0|14.08125|14.08125|14.08125|     9.9|14.08125|14.08125|    26374|    28405|    30860|    31415|    31440|    31532|    31519|    31734|   44891|   46091|   44486|   45314|   44384|   44484|   44480|   44783|      22|          0.08800000000000001|                    12.0|                  5.7|                                25.7|                                        78.0|                                      83.2|                                    50.7|                                  61.6|
|        France|Women|    51.8|    51.9|    51.8|    52.1|    52.4|    52.8|14.08125|14.08125|14.08125|     9.9|14.08125|14.08125|    26374|    28405|    30860|    31415|    31440|    31532|    31519|    31734|   44891|   46091|   44486|   45314|   44384|   44484|   44480|   44783|      22|          0.08800000000000001|                    12.0|                  5.7|                                25.7|                                        78.0|                                      83.2|                                    50.7|                                  61.6|
|       Germany|  Men|    77.5|    77.7|    77.2|    77.0|    76.6|    77.0|    16.9|    15.6|    14.1|    17.4|    15.8|    15.5|    26453|    29535|    32718|    33944|    34580|    34306|    35357|    35868|   47501|   47378|   50594|   52839|   53904|   52401|   53937|   54450|       6|         0.040999999999999995|                     7.0|                  3.8|                                36.9|                                        96.3|                                      97.0|                                    53.6|                                  66.4|
|       Germany|Women|    51.5|    51.8|    52.3|    53.0|    53.2|    54.1|    16.9|    15.6|    14.1|    17.4|    15.8|    15.5|    26453|    29535|    32718|    33944|    34580|    34306|    35357|    35868|   47501|   47378|   50594|   52839|   53904|   52401|   53937|   54450|       6|         0.040999999999999995|                     7.0|                  3.8|                                36.9|                                        96.3|                                      97.0|                                    53.6|                                  66.4|
+--------------+-----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-----------------------------+------------------------+---------------------+------------------------------------+--------------------------------------------+------------------------------------------+----------------------------------------+--------------------------------------+
only showing top 20 rows

In [46]:

##  Data Transformation - 4.1 Reduce data,4.2 Project the data

Mergeddata7=Mergeddata6.join(inequality1,on=['Country'],how='inner').drop("_c0","HDI Rank(2015)").write.csv('final2.csv')

In [ ]:
#removing useless columns from 1) Mergeddata3

Dataset0 = Mergeddata3.drop("_c0","INDICATOR","MEASURE","FREQUENCY","GDPsubject").show() #explained in report

In [51]:

# changing the precion of numeric columns
import pyspark.sql.functions as f

In [52]:
Dataset1 = Mergeddata3.drop("_c0","INDICATOR","MEASURE","FREQUENCY").withColumn("GDP Value",f.round(Mergeddata3["GDP Value"],2)).withColumn("pte_value",f.round(Mergeddata3["pte_value"],2)).withColumn("se_value",f.round(Mergeddata3["se_value"],2)).withColumnRenamed("LOCATION","Country").show()

+-------+----+-----+----------+----------+------+--------+---------+--------+
|Country|TIME|  Sex|GDPsubject| GDP Value|Impexp|    Cost|pte_value|se_value|
+-------+----+-----+----------+----------+------+--------+---------+--------+
|    AUS|2013|WOMEN|       TOT|1102723.05|   IMP|246949.7|    38.14|    7.89|
|    AUS|2013|  MEN|       TOT|1102723.05|   IMP|246949.7|    13.65|   11.97|
|    AUS|2013|  TOT|       TOT|1102723.05|   IMP|246949.7|    24.88|    10.1|
|    AUS|2013|WOMEN|       TOT|1102723.05|   EXP|254201.7|    38.14|    7.89|
|    AUS|2013|  MEN|       TOT|1102723.05|   EXP|254201.7|    13.65|   11.97|
|    AUS|2013|  TOT|       TOT|1102723.05|   EXP|254201.7|    24.88|    10.1|
|    AUS|2014|WOMEN|       TOT|1116293.11|   IMP|238300.4|    38.33|    7.98|
|    AUS|2014|  MEN|       TOT|1116293.11|   IMP|238300.4|    14.03|   12.05|
|    AUS|2014|  TOT|       TOT|1116293.11|   IMP|238300.4|    25.21|   10.18|
|    AUS|2014|WOMEN|       TOT|1116293.11|   EXP|240425.8|    38.33|    7.98|
|    AUS|2014|  MEN|       TOT|1116293.11|   EXP|240425.8|    14.03|   12.05|
|    AUS|2014|  TOT|       TOT|1116293.11|   EXP|240425.8|    25.21|   10.18|
|    AUS|2015|WOMEN|       TOT|1128361.01|   IMP|207262.8|    37.97|    8.15|
|    AUS|2015|  MEN|       TOT|1128361.01|   IMP|207262.8|    14.29|   12.11|
|    AUS|2015|  TOT|       TOT|1128361.01|   IMP|207262.8|    25.24|   10.28|
|    AUS|2015|WOMEN|       TOT|1128361.01|   EXP|188096.6|    37.97|    8.15|
|    AUS|2015|  MEN|       TOT|1128361.01|   EXP|188096.6|    14.29|   12.11|
|    AUS|2015|  TOT|       TOT|1128361.01|   EXP|188096.6|    25.24|   10.28|
|    AUS|2016|WOMEN|       TOT|1181218.13|   IMP|198519.0|    38.35|    8.13|
|    AUS|2016|  MEN|       TOT|1181218.13|   IMP|198519.0|    15.06|   11.71|
+-------+----+-----+----------+----------+------+--------+---------+--------+
only showing top 20 rows

In [53]:
Dataset1 = Mergeddata3.drop("_c0","INDICATOR","MEASURE","FREQUENCY").withColumn("GDP Value",f.round(Mergeddata3["GDP Value"],2)).withColumn("pte_value",f.round(Mergeddata3["pte_value"],2)).withColumn("se_value",f.round(Mergeddata3["se_value"],2)).withColumnRenamed("LOCATION","Country").write.csv('final1.csv')
#converting csv for further use (if needed)

Thus, all the datasets are at the end merged in 2 main datasets. 

1)  Mergeddata3 ->final1

2)  Mergeddata7 ->final2